<a href="https://colab.research.google.com/github/watcharapornn/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# โจทย์

Final Exam: งานกลุ่ม Final ที่อาจารย์สุ่มให้


ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx


( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?fbclid=IwAR3KK7jaRTK1DI3hfBq--qsME4ScgtNdrEbo2yvE2rn08tOTfmXED5kAEB8)


โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้


* user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* RowKey เป็น String
* date เป็น YYYY-MM-DD
* phone เป็น String
* site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
* time เป็น hh-mm-ss
* urine มีค่า String
* ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
* PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))


ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx


โดยข้อมูลสำคัญที่ต้องแสดงคือ


* จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))


(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)


ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# รายชื่อสมาชิกภายในกลุ่ม triturate

1. นางสาววัชราภรณ์ บุญจวง 613020615-8

2. นางสาวฐิติชญา ไกรวงค์ 623020520-0

3. นางสาวสุพิชญา ตั้งกิจวานิชย์ 623020542-0

4. นายดิษพงษ์ นาทองห่อ 623020999-5

# การเชื่อมไดร์ฟเพื่อดึงข้อมูลจากไดรฟ์

In [ ]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า

In [ ]:
from google.colab import drive#เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/ovrdt data'
#โดยเราจะทำการระบุให้ชี้ไปที่ โฟลเดอร์ที่เราเซฟไฟล์ไว้ หรือก็คือ โฟลเดอร์ Project

In [ ]:
import pandas as pd
import os
from datetime import datetime as dt
from datetime import time
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt

## ข้อมูลหลัก ตาราง alldb.csv

In [ ]:
alldb = os.path.join(path,'54.xlsx')   
alldb= pd.read_excel(alldb)
alldb

,Column1,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0.0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaT,NaN,"iPhone13,4",01234,NaN,NaN,5.0,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaT,2.0,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5.0,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaT,1.0,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaT,NaN,Samsung SM-A115F,01234,NaN,NaN,1.0,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaT,1.0,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed

## ข้อมูลรอง ตาราง hospital_list.xlsx

In [ ]:
hospital_list = os.path.join(path,'hospital_list.xlsx')
hospital_list = pd.read_excel(hospital_list)
hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Data Pre-Processing

## จัดการข้อมูลหลัก ตาราง alldb.csv

### เลือกข้อมูลจากตารางหลัก แค่คอลัมน์ที่ต้องการใช้งาน

In [ ]:
alldb_new = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey','title','age']] 
alldb_new

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
0,test,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaT,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0.0,NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaT,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaT,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2.0,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaT,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaT,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaT,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1.0,เสรี,data is not completed,data is not completed

### ตรวจสอบค่า Missing

In [ ]:
alldb_new.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
title           True
age             True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [ ]:
alldb_drop = alldb_new.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
alldb_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0.0,0-1528,data is not completed,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0.0,0-1544,data is not completed,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4.0,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4.0,00001,นาง,41
...,...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2.0,x001,data is not completed,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2.0,x001,data is not completed,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3.0,xxx,data is not completed,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2.0,yyy,data is not completed,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2.0,zzz,data is not completed,data is not completed

In [ ]:
alldb_drop.shape #ตรวจสอบขนาดของตารางใหม่

(38134, 11)

In [ ]:
removes = alldb_new.shape[0] - alldb_drop.shape[0]
print(f'size before drop = {alldb_new.shape[0]}')
print(f'size after drop = {alldb_drop.shape[0]}')
print(f'% from drop = {(removes/alldb_new.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 3% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 40035
size after drop = 38134
% from drop = 4.748345197951792

In [ ]:
alldb_drop.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
title           False
age             False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [ ]:
alldb_drop.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่

user                    object
RowKey                  object
date            datetime64[ns]
phone                   object
site                    object
time                    object
urine                   object
ov                     float64
PartitionKey            object
title                   object
age                     object
dtype: object

พบว่ามีข้อมูลที่ไม่ตรงกับสิ่งที่ต้องการ

 * user ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * site ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * ov ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int
 * PartitionKey ปัจจุบันยังเป็นข้อมูล type string ควรเปลี่ยนเป็น int

#### คอลัมน์ user

In [ ]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'00279',
 '59144',
 '19855',
 '30059',
 '85989',
 '16848',
 '00124',
 '39537',
 '30016',
 '83777',
 '10724',
 '43068',
 '39726',
 '18849',
 '77645',
 '50349',
 '12413',
 '05358',
 '56004',
 '84187',
 '25199',
 '68006',
 '84055',
 '00010',
 '00190',
 '02693',
 '00033',
 '81537',
 '13073',
 '40828',
 '22421',
 '32816',
 '3451100141252',
 '70948',
 '00122',
 '07166',
 '00044',
 '72486',
 '89801',
 '66801',
 '70957',
 '00009',
 '89195',
 '55075',
 '00026',
 '71998',
 '01594',
 '11387',
 '00078',
 '16428',
 '00166',
 '15102',
 '76803',
 '28291',
 '02230',
 '82951',
 '49161',
 '09226',
 '00303',
 '98171',
 '76011',
 '01068',
 '84494',
 '49367',
 '36481',
 '00116',
 '00299',
 '16247',
 '00328',
 '39593',
 '15678',
 'rrr',
 '16630',
 '53330',
 '89329',
 '46970',
 '45593',
 '00176',
 '06260',
 '35139',
 '00206',
 '61605',
 '82582',
 '67850',
 '00315',
 '34331',
 '00016',
 '00137',
 '92431',
 '05151',
 '93307',
 '41042',
 '62415',
 '12023',
 '02087',
 '14767',
 '47605',
 '06283',
 '3451100324713',
 '86407',
 '38422',
 '98245',
 '29118',
 '00138',
 '78334',
 '19237',
 '73336',
 '00348',
 '64199',
 '62059',
 '94601',
 '74375',
 '87797',
 '20951',
 '85094',
 '00017',
 '47844',
 '69566',
 '6724-',
 '01721',
 '36593',
 '10046',
 '33791',
 '59226',
 '25781',
 '54214',
 '00150',
 '00196',
 '29000',
 '50276',
 '65555',
 '49268',
 '25659',
 '46520',
 '92220',
 '09582',
 '77358',
 '38518',
 '00023',
 'sss',
 '95821',
 '71378\n71378',
 '29875',
 '00200',
 '75579',
 '02471',
 '00266',
 '77726',
 '30024',
 '44812',
 '66155',
 '82777',
 '40881',
 '45680',
 '25804',
 '45641',
 '26511',
 '23675',
 '43868',
 '25179',
 '83733',
 '96670',
 '67212',
 '66771',
 '76105',
 '90070',
 '14360',
 '27129',
 '00263',
 '12786',
 '49880',
 '50284',
 '00160',
 '76096',
 '93020',
 '00083',
 '58993',
 '23796',
 '46285',
 '00292',
 '99992',
 '93884',
 '61486',
 '85433',
 '90154',
 '73445',
 '01312',
 '46597',
 '00233',
 '16904',
 '04483',
 '14801',
 '53510',
 '32200',
 '53333',
 '25466',
 '83377',
 '71921',
 '18513',
 '78486',
 '26043',
 '00198',
 '19578',
 '47135',
 '00136',
 '47061',
 '00273',
 '42682',
 '82054',
 '00131',
 '28402',
 '66473',
 '83934',
 '17564',
 '00025',
 '90604',
 '31879',
 '00188',
 '19250',
 '3460500500020',
 '60581',
 '76386',
 '61087',
 '37228',
 '73496',
 '61587',
 '05063',
 'lll',
 'mmm',
 '54427',
 '86774',
 '14884',
 '52210',
 '16112',
 '16174',
 '03431',
 '19202',
 '18181',
 '14455',
 '45787',
 '00902',
 '56821',
 '95127',
 '23338',
 '53011',
 '29271',
 '29025',
 '00274',
 '00142',
 '00223',
 '12003',
 '29417',
 '91167',
 '00293',
 '00201',
 '65953',
 '00545',
 '56326',
 '53579',
 '04431',
 '11727',
 '00268',
 '3450100940367',
 '3450500541443',
 '73636',
 '05069',
 '65733',
 '96431',
 '48069',
 '00320',
 '37231',
 '93726',
 '66708',
 '81570',
 '70054',
 '00004',
 '63039',
 '32171',
 '14505',
 '54614',
 '64081',
 '98530',
 '00302',
 '31208',
 '05507',
 '88315',
 '00281',
 '47354',
 '05154',
 '92042',
 '91125',
 '75126',
 '59423',
 '18385',
 '31582',
 '41937',
 '00276',
 '70671',
 '59266',
 '86113',
 '9250',
 '75835',
 '47494',
 '10993',
 '52131',
 '09343',
 '15963',
 '93671',
 '27096',
 '00024',
 '52665',
 '46960',
 '43657',
 '53041',
 '44509',
 '01183',
 '38522',
 '3450101323370',
 '98703',
 '47157',
 '38614',
 '47950',
 '48298',
 '74432',
 '63564',
 '74951',
 '17415',
 '03535',
 'qqq',
 '67400',
 '38771',
 '86050',
 '00209',
 '07203',
 '00301',
 '81472',
 '25221',
 '01403',
 '37140',
 '63200',
 '74069',
 '00039',
 '18892',
 '10905',
 '24404',
 '63852',
 '05974',
 '09529',
 '14891',
 '52219',
 '00756',
 '64671',
 '37216',
 '49241',
 '23630',
 '37915',
 '16820',
 '03663',
 '58668',
 '36390',
 '77509',
 '80511',
 '11891',
 '08236',
 '03421',
 '86474',
 '59128',
 '51039',
 '81057',
 '00125',
 '30767',
 '98290',
 '96081',
 '28551',
 '26989',
 '79525',
 '10982',
 '20827',
 '63477',
 '89493',
 '24258',
 '05272',
 '54761',
 '30977',
 '74289',
 '83449',
 '20380',
 '67409',
 '29391',
 '00114',
 '74394',
 '77782',
 '78251',
 '55659',
 '62517',
 '10992',
 '16971',
 '86545',
 '50291',
 '63429',
 '50756',
 '65775',
 '71781',
 '73158',
 '79920',
 '63910',
 '62334',
 '05368',
 '10691',
 '07556',
 '01467',
 '74861',
 '48956',
 '24375',
 '99835',
 '79834',
 '06271',
 '90872',
 '31086',
 '18737',
 '43228',
 '31982',
 '83943',
 '39448',
 '5450500072920',
 '33664',
 '43834',
 '28381',
 '19632',
 '02878',
 '12015',
 '63753',
 '00140',
 '48042',
 't006',
 '20847',
 '12041',
 '5600190011969',
 '76642',
 '14390',
 '76523',
 '31551',
 '17982',
 '23889',
 '80253',
 '3451100451758',
 '92648',
 '02825',
 '21955',
 '79590',
 '00203',
 '07644',
 'ttest',
 '30481',
 '44201',
 '34096',
 '23885',
 '10653',
 '00014',
 '79493',
 '15734',
 '04325',
 '18865',
 '82211',
 '57099',
 '80364',
 '89681',
 '55236',
 '00168',
 '02962',
 '53188',
 '3451100146637',
 '15588',
 '51474',
 '14491',
 '54281',
 '62687',
 '65509',
 '00164',
 '37607',
 '73772',
 '15930',
 '24612',
 '97255',
 '26779',
 '06655',
 '47656',
 '23078',
 '99288',
 '49791',
 '14835',
 '03381',
 '08741',
 '80847',
 '64211',
 '00015',
 '46732',
 '06436',
 '00079',
 '36001',
 '10673',
 '00941',
 '00211',
 '08734',
 '00352',
 '00215',
 '95810',
 '00027',
 '97484',
 '95161',
 '81293',
 '00253',
 '59181',
 '33219',
 '01024',
 '64385',
 '00035',
 '00012',
 '05232',
 '89081',
 'test',
 '00309',
 '76246',
 '45668',
 '17184',
 '87697',
 '18253',
 '68759',
 '50951',
 '31133',
 '49961',
 '84276',
 '33503',
 '40886',
 '33251',
 '00120',
 '6724100235',
 '19201',
 '00169',
 '25721',
 '26647',
 '01248',
 '52902',
 '94295',
 '34210',
 '00202',
 '45846',
 '29441',
 '41026',
 '06277',
 '64810',
 '67615',
 '43791',
 '64817',
 '18954',
 '00115',
 '00045',
 '37151',
 '23416',
 '3450101536268',
 '84493',
 '95935',
 '78133',
 '28890',
 '27046',
 '95104',
 '48255',
 '49782',
 '05038',
 '22377',
 '00194',
 '31011',
 '00260',
 '77688',
 '80481',
 '83771',
 '51689',
 '20304',
 '46767',
 '76486',
 '00342',
 '48962',
 '51403',
 '85934',
 '63471',
 '09820',
 '76475',
 '01428',
 '94279',
 '18041',
 '44902',
 'mks',
 '60147',
 '60953',
 '24641',
 '52013',
 '  67241\n',
 '26859',
 '00127',
 '00966',
 '64612',
 '70290',
 '29051',
 '00297',
 '78731',
 '89470',
 '24032',
 '27802',
 '87802',
 '26776',
 '14088',
 '22824',
 '00237',
 '89251',
 'u789',
 '03617',
 '46333',
 '00126',
 '95193',
 '89290',
 '65678',
 '06316',
 '02862',
 '21378',
 '09902',
 '03649',
 '00047',
 '93189',
 '21688',
 '97860',
 '06924',
 '89475',
 '27604',
 '37732',
 '47858',
 '00404',
 '13312',
 '26651',
 '02518',
 '23010',
 '04857',
 '49178',
 '00051',
 '74378',
 '54788',
 '35178',
 '55692',
 '76331',
 '68829',
 '80463',
 '46775',
 '02547',
 '62491',
 '16372',
 '48768',
 '38547',
 '75061',
 '69037',
 '74840',
 '69681',
 '06223',
 'ttohn',
 '51653',
 '18873',
 '45531',
 '13824',
 '76851',
 '38500',
 '00283',
 '85753',
 '00073',
 '19875',
 '34791',
 '46897',
 '63748',
 '59721',
 '00269',
 '12605',
 '06790',
 '56051',
 '19737',
 '17842',
 '05116',
 '91645',
 '53045',
 '52180',
 '04405',
 '11198',
 '17938',
 '17560',
 '40865',
 '02913',
 '49424',
 '03308',
 '05961',
 '36994',
 '26916',
 '24563',
 '51175',
 '46291',
 '61338',
 '51892',
 '34988',
 '02784',
 '73381',
 '04281',
 '57954',
 '18331',
 '39539',
 '45884',
 '26574',
 '14106',
 '03736',
 '00153',
 '20454',
 '19920',
 '83662',
 '98474',
 '88337',
 '29485',
 '88351',
 '79066',
 '86542',
 '00159',
 '48493',
 '71417',
 '24179',
 '88459',
 '66381',
 '97770',
 '16284',
 '10518',
 '53943',
 '82954',
 '54734',
 '73000',
 '77384',
 '51795',
 '00566',
 '3450101325593',
 '68112',
 '23214',
 '60909',
 '99250',
 '49413',
 '99011',
 '03731',
 '34343',
 '76819',
 '01850',
 '59269',
 '00755',
 '18025',
 '08436',
 '00031',
 '29907',
 '61218',
 '36385',
 '18393',
 '28241',
 '01461',
 '24622',
 '33171',
 '17536\n\n17536',
 '09617',
 '47607',
 '65854',
 '16754',
 '98908',
 '18318',
 '62443',
 '16022',
 '29502',
 '83937',
 '79322',
 '49634',
 '32666',
 '52921',
 '70455',
 '11808',
 '65075',
 '21010',
 '39342',
 '05228',
 '  noknoi2601@gmail.com\n',
 '3400900747146',
 '01009',
 '44805',
 '31143',
 '19002',
 '75838',
 '50900',
 '85879',
 '50004',
 '63606',
 '00317',
 '04255',
 '00308',
 '10487',
 '90612',
 '71791',
 '66082',
 '44845',
 '00272',
 '25478',
 '67961',
 '25128',
 '87771',
 '90516',
 '74369',
 '42380',
 '53616',
 '5799',
 '86299',
 '40553',
 '24559',
 '54781',
 '20291',
 '92747',
 '78673',
 '25923',
 '79028',
 '00002',
 'hu',
 '04461',
 '20690',
 '52922',
 '97281',
 '24986',
 '17916',
 '24229',
 'jjj',
 '95291',
 '00001',
 '14037',
 '77249',
 '05242',
 '58845',
 '65664',
 '06964',
 '48646',
 '95609',
 '04193',
 '62616',
 '00207',
 '27484',
 'test1',
 '53089',
 '47933',
 '83257',
 '89609',
 '70973',
 '00306',
 '57228',
 '29309',
 '43431',
 '00048',
 '60181',
 'zzz',
 '28062',
 '00167',
 '71813',
 '52481',
 '62440',
 '61359',
 '00781',
 '05135',
 '84495',
 '70059',
 '72988',
 '81065',
 '34409',
 '63323',
 '68317',
 '71112',
 '51301',
 '11522',
 '00172',
 '10264',
 '27678',
 '25176',
 '92893',
 '77254',
 '48368',
 '3451400598487',
 '03087',
 'ccc',
 '31196',
 '00129',
 '80374',
 '45729',
 '36358',
 'aiov0001',
 '23738',
 '92241',
 '37551',
 '80382',
 '55239',
 '44888',
 '00286',
 '52520',
 '49308',
 '05113',
 '05590',
 '25403',
 '02639',
 '55873',
 '72483',
 '33103',
 '63068',
 '30511',
 '31114',
 '15731',
 '80880',
 '57398',
 '04991',
 '23012',
 '29476',
 '05182',
 '49596',
 '00135',
 '38727',
 '94406',
 '77665',
 '31401',
 '32831',
 '05219',
 '76299',
 '12044',
 '01942',
 '21860',
 '11742',
 '00307',
 '08818',
 '99734',
 '12576',
 '13978',
 '00291',
 '63284',
 '00036',
 '11027',
 '00289',
 '75347',
 '42468',
 '54974',
 '11007',
 '50624',
 '17055',
 '83900',
 '74335',
 '70409',
 '00271',
 '19699',
 '37914',
 '04387',
 '50373',
 '00007',
 '31755',
 '32914',
 '26773',
 '01431',
 '91402',
 '98080',
 '00345',
 '98156',
 '14764',
 '11282',
 '95301',
 '41340',
 '55415',
 '73946',
 '00204',
 '51310',
 '48514',
 '53751',
 '36692',
 '47567',
 '05291',
 '3450100836420',
 '96061',
 '23554',
 '05211',
 '00183',
 '05374',
 '19211',
 '22804',
 '43143',
 '65995',
 'eee',
 '00162',
 '16085',
 '3450101325119',
 '45881',
 '00071',
 '18890',
 '00148',
 '77743',
 'ppp',
 'tt',
 '27143',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [ ]:
alldb_drop['user'].replace({'3450101325119':None,
'34501009308':None,
'71378\n71378':'71378',
'yyy':None,
'7197':None,
'rrr':None,
'745-61':'74561',
'uuu':None,
'3450100810285':None,
'jjj':None,
'11111111':None,
'3450100805222':None,
'zzz':None,
'3450101556129':None,
'3450101325593':None,
'4':None,
'6724100235':None,
'17536\n\n17536':'17536',
'3450101229373':None,
'Testtohn':None,
'  noknoi2601@gmail.com\n':None,
'3451100324624':None,
'40591\n40591\n':'40591',
'6724-':None,
'test':None,
'3450101536268':None,
'3450100543961':None,
'ppp':None,
'xxx':None,
'3451100451758':None,
'hhh':None,
'ttohn':None,
'fff':None,
'ggg':None,
'ccc':None,
'5600190011969':None,
'testtohn':None,
'3451400598487':None,
'3':None,
'3400900747146':None,
'5450100026807':None,
'iii':None,
'5799':None,
'aaa':None,
'3451100141252':None,
't006':None,
'5450500072920':None,
'bbb':None,
'hu':None,
'3450101323370':None,
'ttest':None,
'test1':None,
'tttt':None,
'eee':None,
'qqq':None,
'ttt':None,
'45-161':None,
'sss':None,
'tt':None,
'u789':None,
'3451100241281':None,
'3451100324713':None,
'3450101514299':None,
'3451100451251':None,
'1450700099250':None,
'3450100836420':None,
'3450500541443':None,
'www':None,
'5451100055352':None,
'3451100146637':None,
'3450100940367':None,
'mmm':None,
'3460500500020':None,
'vvv':None,
'lll':None,
'3450101325097':None,
'aiov0001':None,
'kkk':None,
'mks':None,
'aiov0002':None,
'3459900286317':None,
'3451100150251':None,
'3450101576642':None,
'  67241\n':'67241'
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
set(alldb_drop['user']) # เพื่อดูข้อมูลทั้งหมดใน column user

{'00279',
 '59144',
 '19855',
 '30059',
 '85989',
 '16848',
 '00124',
 '39537',
 '30016',
 '83777',
 '10724',
 '43068',
 '39726',
 '18849',
 '77645',
 '50349',
 '12413',
 '05358',
 '56004',
 '84187',
 '25199',
 '68006',
 '84055',
 '00010',
 '00190',
 '02693',
 '00033',
 '81537',
 '13073',
 '40828',
 '22421',
 '32816',
 '70948',
 '00122',
 '07166',
 '00044',
 '72486',
 '89801',
 '66801',
 '70957',
 '00009',
 '55075',
 '89195',
 '00026',
 '71998',
 '01594',
 '11387',
 '00078',
 '16428',
 '00166',
 '15102',
 '76803',
 '28291',
 '02230',
 '82951',
 '49161',
 '09226',
 '00303',
 '98171',
 '76011',
 '01068',
 '84494',
 '49367',
 '36481',
 '00116',
 '00299',
 '16247',
 '00328',
 '39593',
 '15678',
 '16630',
 '53330',
 '89329',
 '46970',
 '45593',
 '00176',
 '06260',
 '35139',
 '00206',
 '61605',
 '82582',
 '67850',
 '00315',
 '34331',
 '00016',
 '00137',
 '92431',
 '05151',
 '93307',
 '41042',
 '62415',
 '12023',
 '02087',
 '14767',
 '47605',
 '06283',
 '86407',
 '38422',
 '98245',
 '29118',
 '00138',
 '78334',
 '19237',
 '73336',
 '00348',
 '64199',
 '62059',
 '94601',
 '74375',
 '87797',
 '20951',
 '85094',
 '00017',
 '47844',
 '69566',
 '01721',
 '36593',
 '10046',
 '33791',
 '59226',
 '25781',
 '54214',
 '00150',
 '00196',
 '29000',
 '50276',
 '65555',
 '49268',
 '25659',
 '46520',
 '92220',
 '09582',
 '77358',
 '38518',
 '00023',
 '95821',
 '29875',
 '00200',
 '75579',
 '02471',
 '00266',
 '77726',
 '30024',
 '44812',
 '66155',
 '82777',
 '40881',
 '45680',
 '25804',
 '45641',
 '26511',
 '23675',
 '43868',
 '25179',
 '83733',
 '96670',
 '67212',
 '66771',
 '76105',
 '90070',
 '14360',
 '27129',
 '00263',
 '12786',
 '49880',
 '50284',
 '00160',
 '76096',
 '93020',
 '00083',
 '58993',
 '23796',
 '46285',
 '00292',
 '99992',
 '93884',
 '61486',
 '85433',
 '90154',
 '73445',
 '01312',
 '46597',
 '00233',
 '16904',
 '04483',
 '14801',
 '53510',
 '32200',
 '53333',
 '25466',
 '83377',
 '71921',
 '18513',
 '78486',
 '26043',
 '00198',
 '19578',
 '47135',
 '00136',
 '47061',
 '00273',
 '42682',
 '82054',
 '00131',
 '28402',
 '66473',
 '83934',
 '17564',
 '00025',
 '90604',
 '31879',
 '00188',
 '19250',
 '60581',
 '76386',
 '61087',
 '37228',
 '73496',
 '61587',
 '05063',
 '54427',
 '86774',
 '14884',
 '52210',
 '16112',
 '16174',
 '03431',
 '19202',
 '18181',
 '14455',
 '45787',
 '00902',
 '56821',
 '95127',
 '23338',
 '53011',
 '29271',
 '29025',
 '00274',
 '00142',
 '00223',
 '12003',
 '29417',
 '91167',
 '00293',
 '00201',
 '65953',
 '00545',
 '56326',
 '53579',
 '04431',
 '11727',
 '00268',
 '73636',
 '05069',
 '65733',
 '96431',
 '48069',
 '00320',
 '37231',
 '93726',
 '66708',
 '81570',
 '70054',
 '00004',
 '63039',
 '32171',
 '14505',
 '54614',
 '64081',
 '98530',
 '00302',
 '31208',
 '05507',
 '88315',
 '00281',
 '47354',
 '05154',
 '92042',
 '91125',
 '75126',
 '59423',
 '18385',
 '31582',
 '41937',
 '00276',
 '70671',
 '59266',
 '86113',
 '9250',
 '75835',
 '47494',
 '10993',
 '52131',
 '09343',
 '15963',
 '93671',
 '27096',
 '00024',
 '52665',
 '46960',
 '43657',
 '53041',
 '44509',
 '01183',
 '38522',
 '40591',
 '98703',
 '47157',
 '38614',
 '47950',
 '48298',
 '74432',
 '63564',
 '74951',
 '17415',
 '03535',
 '67400',
 '38771',
 '86050',
 '00209',
 '07203',
 '00301',
 '81472',
 '25221',
 '01403',
 '37140',
 '63200',
 '74069',
 '00039',
 '18892',
 '10905',
 '24404',
 '63852',
 '05974',
 '09529',
 '14891',
 '52219',
 '00756',
 '64671',
 '37216',
 '49241',
 '23630',
 '37915',
 '16820',
 '03663',
 '58668',
 '36390',
 '77509',
 '80511',
 '11891',
 '08236',
 '03421',
 '86474',
 '59128',
 '51039',
 '81057',
 '00125',
 '30767',
 '98290',
 '96081',
 '28551',
 '26989',
 '79525',
 '10982',
 '20827',
 '63477',
 '89493',
 '24258',
 '05272',
 '54761',
 '30977',
 '74289',
 '83449',
 '20380',
 '67409',
 '29391',
 '00114',
 '74394',
 '77782',
 '78251',
 '55659',
 '62517',
 '10992',
 '16971',
 '86545',
 '50291',
 '63429',
 '50756',
 '65775',
 '71781',
 '73158',
 '79920',
 '63910',
 '62334',
 '05368',
 '10691',
 '07556',
 '01467',
 '74861',
 '48956',
 '24375',
 '99835',
 '79834',
 '06271',
 '90872',
 '31086',
 '18737',
 '43228',
 '31982',
 '83943',
 '39448',
 '33664',
 '43834',
 '28381',
 '19632',
 '02878',
 '12015',
 '63753',
 '00140',
 '48042',
 '20847',
 '12041',
 '76642',
 '14390',
 '76523',
 '31551',
 '17982',
 '23889',
 '80253',
 '92648',
 '02825',
 '21955',
 '79590',
 '00203',
 '07644',
 '30481',
 '44201',
 '34096',
 '23885',
 '10653',
 '00014',
 '79493',
 '15734',
 '04325',
 '18865',
 '82211',
 '57099',
 '80364',
 '89681',
 '55236',
 '00168',
 '02962',
 '53188',
 '15588',
 '51474',
 '14491',
 '54281',
 '62687',
 '65509',
 '00164',
 '37607',
 '73772',
 '15930',
 '24612',
 '97255',
 '26779',
 '06655',
 '47656',
 '23078',
 '99288',
 '49791',
 '14835',
 '03381',
 '08741',
 '80847',
 '64211',
 '00015',
 '46732',
 '06436',
 '00079',
 '36001',
 '10673',
 '00941',
 '00211',
 '08734',
 '00352',
 '00215',
 '95810',
 '00027',
 '97484',
 '95161',
 '81293',
 '00253',
 '59181',
 '33219',
 '01024',
 '64385',
 '00035',
 '00012',
 '05232',
 '89081',
 '00309',
 '76246',
 '45668',
 '17184',
 '87697',
 '18253',
 '68759',
 '50951',
 '31133',
 '49961',
 '84276',
 '33503',
 '40886',
 '33251',
 '00120',
 '19201',
 '00169',
 '25721',
 '26647',
 '01248',
 '52902',
 '94295',
 '34210',
 '00202',
 '45846',
 '29441',
 '41026',
 '06277',
 '64810',
 '67615',
 '43791',
 '64817',
 '18954',
 '00115',
 '00045',
 '37151',
 '23416',
 '84493',
 '95935',
 '78133',
 '28890',
 '27046',
 '95104',
 '48255',
 '49782',
 '05038',
 '22377',
 '00194',
 '31011',
 '00260',
 '77688',
 '80481',
 '83771',
 '51689',
 '20304',
 '46767',
 '76486',
 '00342',
 '48962',
 '51403',
 '85934',
 '63471',
 '09820',
 '76475',
 '01428',
 '94279',
 '18041',
 '44902',
 '60147',
 '60953',
 '24641',
 '52013',
 '26859',
 '00127',
 '00966',
 '64612',
 '70290',
 '29051',
 '00297',
 '78731',
 '89470',
 '24032',
 '27802',
 '87802',
 '26776',
 '14088',
 '22824',
 '00237',
 '89251',
 '03617',
 '46333',
 '00126',
 '95193',
 '89290',
 '65678',
 '06316',
 '02862',
 '21378',
 '09902',
 '03649',
 '00047',
 '93189',
 '21688',
 '97860',
 '06924',
 '89475',
 '27604',
 '37732',
 '47858',
 '00404',
 '13312',
 '26651',
 '02518',
 '23010',
 '04857',
 '49178',
 '00051',
 '74378',
 '54788',
 '35178',
 '55692',
 '76331',
 '68829',
 '80463',
 '46775',
 '02547',
 '62491',
 '16372',
 '48768',
 '38547',
 '75061',
 '69037',
 '74840',
 '69681',
 '06223',
 '51653',
 '18873',
 '45531',
 '76851',
 '13824',
 '38500',
 '00283',
 '85753',
 '00073',
 '19875',
 '34791',
 '46897',
 '63748',
 '59721',
 '00269',
 '12605',
 '06790',
 '56051',
 '19737',
 '17842',
 '05116',
 '91645',
 '53045',
 '52180',
 '04405',
 '11198',
 '17938',
 '17560',
 '40865',
 '02913',
 '49424',
 '03308',
 '05961',
 '36994',
 '26916',
 '24563',
 '51175',
 '46291',
 '61338',
 '51892',
 '34988',
 '02784',
 '73381',
 '04281',
 '57954',
 '18331',
 '39539',
 '45884',
 '26574',
 '14106',
 '03736',
 '00153',
 '20454',
 '19920',
 '83662',
 '98474',
 '88337',
 '29485',
 '88351',
 '79066',
 '86542',
 '00159',
 '48493',
 '71417',
 '24179',
 '88459',
 '66381',
 '97770',
 '16284',
 '10518',
 '53943',
 '82954',
 '54734',
 '73000',
 '77384',
 '51795',
 '00566',
 '68112',
 '23214',
 '60909',
 '99250',
 '49413',
 '99011',
 '03731',
 '34343',
 '76819',
 '01850',
 '59269',
 '00755',
 '18025',
 '08436',
 '00031',
 '29907',
 '61218',
 '36385',
 '18393',
 '28241',
 '01461',
 '24622',
 '33171',
 '09617',
 '47607',
 '65854',
 '16754',
 '98908',
 '18318',
 '62443',
 '16022',
 '29502',
 '83937',
 '79322',
 '49634',
 '32666',
 '52921',
 '70455',
 '11808',
 '65075',
 '21010',
 '39342',
 '05228',
 '01009',
 '44805',
 '31143',
 '19002',
 '75838',
 '50900',
 '85879',
 '50004',
 '63606',
 '00317',
 '04255',
 '00308',
 '10487',
 '90612',
 '71791',
 '66082',
 '44845',
 '00272',
 '25478',
 '67961',
 '25128',
 '87771',
 '90516',
 '74369',
 '42380',
 '53616',
 '86299',
 '40553',
 '24559',
 '54781',
 '20291',
 '92747',
 '78673',
 '25923',
 '79028',
 '00002',
 '04461',
 '20690',
 '52922',
 '97281',
 '24986',
 '17916',
 '24229',
 '95291',
 '00001',
 '14037',
 '77249',
 '05242',
 '58845',
 '65664',
 '06964',
 '48646',
 '95609',
 '04193',
 '62616',
 '00207',
 '27484',
 '53089',
 '47933',
 '83257',
 '89609',
 '70973',
 '00306',
 '57228',
 '29309',
 '43431',
 '00048',
 '60181',
 '28062',
 '00167',
 '71813',
 '52481',
 '62440',
 '61359',
 '00781',
 '05135',
 '84495',
 '70059',
 '72988',
 '81065',
 '34409',
 '63323',
 '68317',
 '71112',
 '51301',
 '11522',
 '00172',
 '10264',
 '27678',
 '25176',
 '92893',
 '77254',
 '48368',
 '03087',
 '31196',
 '00129',
 '80374',
 '45729',
 '36358',
 '23738',
 '92241',
 '37551',
 '80382',
 '55239',
 '44888',
 '00286',
 '52520',
 '49308',
 '05113',
 '05590',
 '25403',
 '02639',
 '55873',
 '72483',
 '33103',
 '63068',
 '30511',
 '31114',
 '15731',
 '80880',
 '57398',
 '04991',
 '23012',
 '29476',
 '05182',
 '49596',
 '00135',
 '38727',
 '94406',
 '77665',
 '31401',
 '32831',
 '05219',
 '76299',
 '12044',
 '01942',
 '21860',
 '11742',
 '00307',
 '08818',
 '99734',
 '12576',
 '13978',
 '00291',
 '63284',
 '00036',
 '11027',
 '00289',
 '75347',
 '42468',
 '54974',
 '11007',
 '50624',
 '17055',
 '83900',
 '74335',
 '70409',
 '00271',
 '19699',
 '37914',
 '04387',
 '50373',
 '00007',
 '31755',
 '32914',
 '26773',
 '01431',
 '91402',
 '98080',
 '00345',
 '98156',
 '14764',
 '11282',
 '95301',
 '41340',
 '55415',
 '73946',
 '00204',
 '51310',
 '48514',
 '53751',
 '36692',
 '47567',
 '05291',
 '96061',
 '23554',
 '05211',
 '00183',
 '05374',
 '19211',
 '22804',
 '43143',
 '65995',
 '00162',
 '16085',
 '45881',
 '00071',
 '18890',
 '00148',
 '77743',
 '27143',
 '48710',
 '03949',
 '00394',
 '68037',
 '50047',
 '72169',
 '27902',
 '76459',
 '67241',
 '50332',
 '02759',
 '85379',
 '32796',
 '11165',
 '47122',
 '39079',
 '84005',
 '45485',
 '00121',
 '00161',
 '46566',
 '56845',
 '68162',
 '42453',
 '66261',
 '48393',
 '31577',
 '97913',
 '44018',
 '19559',
 '00304',
 '08602',
 '16725',
 '61746',
 '93991',
 '55365',
 '28992',
 '11611',
 '52209',
 '02128',
 '63274',
 '00277',
 ...}

In [ ]:
alldb_drop2 = alldb_drop.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop2 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4.0,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4.0,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3.0,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3.0,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0.0,61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0.0,89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1.0,92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2.0,976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2.0,983,data is not completed,data is not completed

In [ ]:
alldb_drop2 = alldb_drop2[(alldb_drop2['user'].astype(str).str.isdigit()) & (alldb_drop2['user'].str.len() == 5 )] # เลือกข้อมูลที่เป็น 5 หลัก

In [ ]:
alldb_drop2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4.0,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4.0,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3.0,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3.0,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0.0,61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0.0,89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1.0,92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2.0,976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2.0,983,data is not completed,data is not completed

#### คอลัมน์ site

In [ ]:
set(alldb_drop2['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '01151',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05350ยอ',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '99795'}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [ ]:
alldb_drop2['site'].replace({' 0502':None,
'05250\n':'05250',
'05350ยอ':'05350',
'13943\n\n':'13943',
'043.1':None
},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
alldb_drop3 = alldb_drop2.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop3 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4.0,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4.0,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3.0,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3.0,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0.0,61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0.0,89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1.0,92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2.0,976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2.0,983,data is not completed,data is not completed

In [ ]:
set(alldb_drop3['site']) # เพื่อดูข้อมูลทั้งหมดใน column site

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '01151',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '99795'}

In [ ]:
alldb_drop3 = alldb_drop3[(alldb_drop3['site'].astype(str).str.isdigit()) & (alldb_drop3['site'].str.len() == 5 )] # เลือกข้อมูลที่เป็น 5 หลัก

In [ ]:
alldb_drop3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4.0,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4.0,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3.0,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3.0,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0.0,61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0.0,89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1.0,92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2.0,976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2.0,983,data is not completed,data is not completed

#### คอลัมน์ ov

In [ ]:
set(alldb_drop3['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{0.0, 1.0, 2.0, 3.0, 4.0}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข  เท่ากับ ข้อมูลว่าง

In [ ]:
alldb_drop3['ov'].replace({'ติดเชื้อ +2 ':None},inplace=True)

In [ ]:
alldb_drop4 = alldb_drop3.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop4 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0.0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4.0,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4.0,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3.0,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3.0,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39722,76331,bbrbiwclgv.png,2022-02-23,Samsung SM-G965U,05258,14:05:25,ปกติ (เหลืองใส),0.0,61,data is not completed,data is not completed
39782,76331,lzzsckyyqs.png,2022-02-23,Samsung SM-G965U,05258,14:42:45,ปกติ (เหลืองใส),0.0,89,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1.0,92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2.0,976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2.0,983,data is not completed,data is not completed

In [ ]:
set(alldb_drop4['ov']) # เพื่อดูข้อมูลทั้งหมดใน column ov

{0.0, 1.0, 2.0, 3.0, 4.0}

In [ ]:
alldb_drop4['ov'] = alldb_drop4['ov'].astype(int) # เปลี่ยนข้อมูลจาก string เป็น int ในคอลัมน์ ov

In [ ]:
alldb_drop4.dtypes # เช็คว่า ov ทั้งหมดเป็น int หรือไม่

user                    object
RowKey                  object
date            datetime64[ns]
phone                   object
site                    object
time                    object
urine                   object
ov                       int64
PartitionKey            object
title                   object
age                     object
dtype: object

#### คอลัมน์ PartitionKey

In [ ]:
set(alldb_drop4['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'01102',
 '00279',
 '01917',
 '01031',
 '00558',
 '02417',
 '08972',
 '01195',
 '03094',
 '02534',
 '05318',
 '00377',
 '01827',
 '01631',
 '00581',
 '00478',
 '01120',
 '00124',
 '01909',
 '03511',
 '00390',
 '08943',
 '04670',
 '01045',
 '01860',
 '08956',
 '01859',
 '00375',
 '02098',
 '01862',
 '03032',
 '01681',
 '05267',
 '02494',
 '01249',
 '01925',
 '00870',
 '02523',
 '00057',
 '03824',
 '02823',
 '01082',
 '01560',
 '02122',
 '01383',
 '02248',
 '02563',
 '03496',
 '06047',
 '02761',
 '04661',
 '00398',
 '02312',
 '01812',
 '01880',
 '08977',
 '01683',
 '08925',
 '00010',
 '05238',
 '00190',
 '01808',
 '00720',
 '00033',
 '02480',
 '01943',
 '00935',
 '02398',
 '03432',
 '01726',
 '03239',
 '03183',
 '08900',
 '01022',
 '02787',
 '03445',
 '01607',
 '01348',
 '00122',
 '01421',
 '00412',
 '02038',
 '01813',
 '00820',
 '00044',
 '04136',
 '00783',
 '00881',
 '01731',
 '01044',
 '05975',
 '01020',
 '00009',
 '00246',
 '00026',
 '03398',
 '00835',
 '02080',
 '01828',
 '01844',
 '01594',
 '00078',
 '03925',
 '00166',
 '00649',
 '04080',
 '00949',
 '00606',
 '04054',
 '02271',
 '02330',
 '02230',
 '05721',
 '03980',
 '00303',
 '00314',
 '01068',
 '01833',
 '08913',
 '01457',
 '01753',
 '00116',
 '04073',
 '06037',
 '02333',
 '00299',
 '00957',
 '02455',
 '01164',
 '01606',
 '01695',
 '00328',
 '02438',
 '00564',
 '00788',
 '01063',
 '00358',
 '05127',
 '08383',
 '01289',
 '05987',
 '02986',
 '00914',
 '08978',
 '00176',
 '03339',
 '02789',
 '00854',
 '00206',
 '05204',
 '00529',
 '08519',
 '00861',
 '02046',
 '09025',
 '02708',
 '00315',
 '01816',
 '00754',
 '01960',
 '01711',
 '02477',
 '01957',
 '01455',
 '00737',
 '03014',
 '08941',
 '00016',
 '00137',
 '01430',
 '00633',
 '01313',
 '00570',
 '01521',
 '01433',
 '02019',
 '08962',
 '02877',
 '03328',
 '00615',
 '02946',
 '01325',
 '08932',
 '02778',
 '179',
 '08923',
 '02917',
 '01545',
 '02158',
 '02475',
 '01886',
 '01569',
 '02197',
 '196',
 '00138',
 '01279',
 '02945',
 '04652',
 '00348',
 '05960',
 '02273',
 '01327',
 '02012',
 '01696',
 '00017',
 '00415',
 '01504',
 '00991',
 '01721',
 '01919',
 '04111',
 '02524',
 '00383',
 '02249',
 '01976',
 '01032',
 '00630',
 '03325',
 '02928',
 '10964',
 '00477',
 '01423',
 '00150',
 '01311',
 '10979',
 '00196',
 '04753',
 '01182',
 '02775',
 '00731',
 '00989',
 '02049',
 '03107',
 '00940',
 '01299',
 '01531',
 '01558',
 '05281',
 '00815',
 '00505',
 '00909',
 '11005',
 '03964',
 '123',
 '04620',
 '00806',
 '02223',
 '00023',
 '01811',
 '01879',
 '00443',
 '02345',
 '00200',
 '05094',
 '01903',
 '02320',
 '05290',
 '01228',
 '06182',
 '02643',
 '00431',
 '02074',
 '00107',
 '00829',
 '00173',
 '02586',
 '02686',
 '00266',
 '01149',
 '01712',
 '01926',
 '01512',
 '03804',
 '00469',
 '10976',
 '02743',
 '03177',
 '01647',
 '00414',
 '03248',
 '01776',
 '05125',
 '01034',
 '00907',
 '00745',
 '01330',
 '00349',
 '00770',
 '01760',
 '05100',
 '00985',
 '01838',
 '01888',
 '08948',
 '00263',
 '00923',
 '01772',
 '03057',
 '05994',
 '00310',
 '05227',
 '01775',
 '02887',
 '01150',
 '01254',
 '00160',
 '00482',
 '02677',
 '00335',
 '01654',
 '08924',
 '01464',
 '08960',
 '00562',
 '01525',
 '03167',
 '00083',
 '01750',
 '02490',
 '03128',
 '02893',
 '01175',
 '01116',
 '08908',
 '00292',
 '09043',
 '00347',
 '03547',
 '00777',
 '00922',
 '08983',
 '02305',
 '01668',
 '01540',
 '01309',
 '03549',
 '00885',
 '02421',
 '02737',
 '08916',
 '00576',
 '00846',
 '01019',
 '00627',
 '02119',
 '08903',
 '01125',
 '01312',
 '02960',
 '01454',
 '00069',
 '01858',
 '00233',
 '01047',
 '04186',
 '00831',
 '01286',
 '03178',
 '02293',
 '02375',
 '02025',
 '03483',
 '05977',
 '01394',
 '09007',
 '00628',
 '01945',
 '00892',
 '02218',
 '00470',
 '02830',
 '00953',
 '05289',
 '01715',
 '01086',
 '01697',
 '00656',
 '09001',
 '00533',
 '01395',
 '02167',
 '00514',
 '00198',
 '00724',
 '08996',
 '00136',
 '02872',
 '00273',
 '00713',
 '01056',
 '01285',
 '03104',
 '08920',
 '00547',
 '01094',
 '01973',
 '01153',
 '00585',
 '00131',
 '00933',
 '01673',
 '00174',
 '02024',
 '0023',
 '01387',
 '01787',
 '04629',
 '00025',
 '02190',
 '02044',
 '01786',
 '00085',
 '00067',
 '01244',
 '00495',
 '00858',
 '05959',
 '02612',
 '00554',
 '02814',
 '00090',
 '00188',
 '02238',
 '03073',
 '04662',
 '01308',
 '06726',
 '0000',
 '00563',
 '02978',
 '02567',
 '00436',
 '00498',
 '02883',
 '05382',
 '08949',
 '01488',
 '00890',
 '01574',
 '05235',
 '01156',
 '01897',
 '00902',
 '04686',
 '00433',
 '01251',
 '03715',
 '02365',
 '00507',
 '01847',
 '02423',
 '01098',
 '03542',
 '02052',
 '05302',
 '00274',
 '02231',
 '02354',
 '00142',
 '180',
 '00736',
 '05989',
 '01541',
 '00223',
 '01618',
 '04730',
 '02983',
 '01834',
 '00293',
 '00201',
 '02286',
 '01174',
 '01839',
 '02516',
 '01583',
 '00545',
 '02776',
 '01486',
 '00790',
 '04094',
 '00699',
 '02934',
 '03304',
 '04696',
 '00711',
 '01483',
 '00268',
 '00476',
 '01256',
 '01129',
 '00389',
 '01785',
 '01331',
 '00572',
 '02200',
 '02492',
 '01147',
 '01507',
 '01629',
 '01033',
 '02459',
 '00786',
 '00464',
 '05967',
 '02555',
 '00320',
 '03324',
 '02172',
 '04020',
 '03417',
 '04607',
 '00472',
 '01402',
 '02504',
 '00967',
 '0030',
 '02669',
 '03200',
 '01015',
 '00004',
 '02638',
 '05323',
 '03512',
 '01773',
 '03055',
 '00663',
 '00824',
 '02335',
 '03279',
 '01247',
 '02377',
 '01420',
 '01601',
 '02991',
 '00302',
 '00681',
 '01796',
 '03296',
 '01231',
 '01829',
 '06722',
 '04018',
 '00281',
 '05154',
 '00709',
 '01991',
 '08959',
 '00323',
 '02142',
 '05263',
 '01118',
 '01723',
 '08976',
 '00276',
 '01186',
 '01146',
 '01180',
 '01795',
 '00926',
 '04640',
 '10993',
 '00594',
 '02050',
 '02559',
 '00689',
 '01990',
 '00024',
 '00962',
 '02826',
 '08911',
 '03130',
 '04100',
 '04061',
 '10967',
 '02900',
 '01575',
 '00503',
 '01718',
 '02561',
 '01396',
 '02513',
 '52',
 '01302',
 '02509',
 '06013',
 '01183',
 '04688',
 '05092',
 '05280',
 '03437',
 '08937',
 '00760',
 '03075',
 '00819',
 '00424',
 '00369',
 '01230',
 '02808',
 '02397',
 '03291',
 '00763',
 '06058',
 '00368',
 '00669',
 '00682',
 '03441',
 '03535',
 '01386',
 '01502',
 '00639',
 '00209',
 '02199',
 '00301',
 '03321',
 '01403',
 '00636',
 '01687',
 '01057',
 '02222',
 '00884',
 '01831',
 '00374',
 '01582',
 '00039',
 '02922',
 '00331',
 '00937',
 '02124',
 '03035',
 '01242',
 '02367',
 '00930',
 '05974',
 '00845',
 '00234',
 '01207',
 '04641',
 '00756',
 '00420',
 '03074',
 '03405',
 '03529',
 '04038',
 '08985',
 '02055',
 '00101',
 '03504',
 '01476',
 '03877',
 '01111',
 '02216',
 '00974',
 '01995',
 '05723',
 '03333',
 '00371',
 '02057',
 '00175',
 '02792',
 '00976',
 '00852',
 '01323',
 '01638',
 '03978',
 '08988',
 '02680',
 '01334',
 '01965',
 '02627',
 '02005',
 '116',
 '04189',
 '00997',
 '00432',
 '02565',
 '00908',
 '00912',
 '00125',
 '00082',
 '03552',
 '01144',
 '04777',
 '03267',
 '00850',
 '01679',
 '00467',
 '00184',
 '00461',
 '05785',
 '01875',
 '01447',
 '01598',
 '02738',
 '00990',
 '02132',
 '10982',
 '02832',
 '00408',
 '02731',
 '01914',
 '01537',
 '01237',
 '04618',
 '02407',
 '08993',
 '02662',
 '01985',
 '00344',
 '01493',
 '03034',
 '01613',
 '00848',
 '00604',
 '01449',
 '01964',
 '02147',
 '08067',
 '01235',
 '02206',
 '03133',
 '01017',
 '01257',
 '02207',
 '01030',
 '00114',
 '01154',
 '02164',
 '02836',
 '10985',
 '00934',
 '01499',
 '03068',
 '00539',
 '09042',
 '02914',
 '01820',
 '01591',
 '01274',
 '03454',
 '02451',
 '01992',
 '10992',
 '00611',
 '08936',
 '01612',
 '04043',
 '02794',
 '00228',
 '00812',
 '03215',
 '00869',
 '01347',
 '02370',
 '02819',
 '03244',
 '00744',
 '00946',
 '02035',
 '02265',
 '02390',
 '01113',
 '00532',
 '01278',
 '08915',
 '00889',
 '01939',
 '00741',
 '05958',
 '01467',
 '01716',
 '02771',
 '01390',
 '01416',
 '00661',
 '01048',
 '08906',
 '00867',
 '00826',
 '00077',
 '00836',
 '153',
 '01790',
 '00372',
 '01407',
 '02110',
 '00877',
 '00525',
 '02139',
 '05313',
 '04015',
 '01061',
 '05255',
 '02755',
 '04802',
 '01223',
 '01931',
 '00517',
 '01364',
 '06028',
 '01166',
 '04636',
 '01411',
 '02878',
 '08944',
 '00510',
 '00140',
 '05189',
 '00688',
 '01143',
 '06030',
 '00984',
 '02188',
 '02692',
 '01110',
 '02730',
 '05266',
 '00929',
 '08961',
 '00261',
 '01822',
 '02060',
 '02752',
 '00248',
 '03332',
 '02251',
 '01596',
 '05780',
 '03487',
 '00384',
 '01809',
 '01902',
 '00973',
 '03278',
 '02543',
 '00364',
 '00928',
 '01106',
 '02272',
 '03970',
 '00925',
 '04668',
 '02896',
 '02825',
 '01690',
 '01950',
 '00856',
 '02240',
 '02943',
 '00516',
 '01821',
 '00203',
 '01993',
 '02133',
 '0083',
 '01011',
 '00734',
 '01162',
 '01101',
 '00064',
 '00014',
 '02678',
 '01462',
 '01419',
 '03156',
 '06032',
 '02195',
 '00643',
 '00103',
 '02031',
 '04174',
 '00609',
 '00916',
 '01401',
 '08947',
 '00458',
 '00968',
 '04793',
 '00665',
 '00601',
 '00168',
 '0012',
 '01649',
 '00588',
 '00091',
 '01619',
 '01666',
 '00958',
 '02962',
 '03002',
 '00526',
 '02767',
 '06050',
 '01872',
 '00419',
 '04013',
 '03030',
 '02544',
 '03509',
 '04014',
 '01791',
 '00164',
 '00460',
 '01669',
 '01815',
 '02944',
 '03366',
 '05147',
 '01797',
 '02161',
 '06026',
 '01854',
 '01871',
 '01366',
 '02043',
 '03461',
 '121',
 '02388',
 '09004',
 '05115',
 '04185',
 '00732',
 '00970',
 '03612',
 '03381',
 '02400',
 '05141',
 '00015',
 '00969',
 '00440',
 '000152',
 '00079',
 '08503',
 '00427',
 '00941',
 '00211',
 '01955',
 '00361',
 '02292',
 '02536',
 '00327',
 '02720',
 '00746',
 '04086',
 '00352',
 '00215',
 '00980',
 '00832',
 '01933',
 '03056',
 '01374',
 '02514',
 '00027',
 '00475',
 '00813',
 '05262',
 '000164',
 '00891',
 '01956',
 '00245',
 '10983',
 '00243',
 '00253',
 '01024',
 '02880',
 '03042',
 '00035',
 '06053',
 '08918',
 '01435',
 '00012',
 '04171',
 '01440',
 '01176',
 '01451',
 '04033',
 '00309',
 '05130',
 '05232',
 '06027',
 '02979',
 '00619',
 '04781',
 '00767',
 '00993',
 '01282',
 '00981',
 '00801',
 '09016',
 '01300',
 '00964',
 '09022',
 '02783',
 '01632',
 '04016',
 '02149',
 '03221',
 '00120',
 '02352',
 '04630',
 '06020',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [ ]:
alldb_drop4['PartitionKey'].replace({
'61':None,
'29':None,
'52':None,
'0083':None,
'000152':None,
'0034':None,
'23':None,
'219':None,
'185':None,
'00\u200b175':None,
'89':None,
'150':None,
'196':None,
'193':None,
'125':None,
'1881':None,
'32':None,
'124':None,
'112':None,
'00083\u200b':None,
'002.5':None                         
},inplace=True)

In [ ]:
alldb_drop5 = alldb_drop4.dropna() # ทำการ drop ค่าว่างออก 
alldb_drop5 # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39699,76331,lbqlcrqxli.png,2022-02-23,Samsung SM-G965U,05258,14:22:42,ปกติ (เหลืองใส),0,48,data is not completed,data is not completed
39710,76331,qofmbraznv.png,2022-02-23,Samsung SM-G965U,05258,14:08:37,ปกติ (เหลืองใส),0,56,data is not completed,data is not completed
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,data is not completed,data is not completed
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,data is not completed,data is not completed
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,data is not completed,data is not completed

In [ ]:
set(alldb_drop5['PartitionKey']) # เพื่อดูข้อมูลทั้งหมดใน column PartitionKey

{'01102',
 '00279',
 '01917',
 '01031',
 '00558',
 '02417',
 '08972',
 '01195',
 '03094',
 '02534',
 '05318',
 '00377',
 '01827',
 '01631',
 '00581',
 '00478',
 '01120',
 '00124',
 '01909',
 '03511',
 '00390',
 '08943',
 '04670',
 '01045',
 '01860',
 '08956',
 '01859',
 '00375',
 '02098',
 '01862',
 '03032',
 '01681',
 '05267',
 '02494',
 '01249',
 '01925',
 '00870',
 '02523',
 '00057',
 '03824',
 '02823',
 '01082',
 '01560',
 '02122',
 '01383',
 '02248',
 '02563',
 '03496',
 '06047',
 '02761',
 '04661',
 '00398',
 '02312',
 '01812',
 '01880',
 '08977',
 '01683',
 '08925',
 '00010',
 '05238',
 '00190',
 '01808',
 '00720',
 '00033',
 '02480',
 '01943',
 '00935',
 '02398',
 '03432',
 '01726',
 '03239',
 '03183',
 '08900',
 '01022',
 '02787',
 '03445',
 '01607',
 '01348',
 '00122',
 '01421',
 '00412',
 '02038',
 '01813',
 '00820',
 '00044',
 '04136',
 '00783',
 '00881',
 '01731',
 '01044',
 '05975',
 '01020',
 '00009',
 '00246',
 '00026',
 '03398',
 '00835',
 '02080',
 '01828',
 '01844',
 '01594',
 '00078',
 '03925',
 '00166',
 '00649',
 '04080',
 '00949',
 '00606',
 '04054',
 '02271',
 '02330',
 '02230',
 '05721',
 '03980',
 '00303',
 '00314',
 '01068',
 '01833',
 '08913',
 '01457',
 '01753',
 '00116',
 '04073',
 '06037',
 '02333',
 '00299',
 '00957',
 '02455',
 '01164',
 '01606',
 '01695',
 '00328',
 '02438',
 '00564',
 '00788',
 '01063',
 '00358',
 '05127',
 '08383',
 '01289',
 '05987',
 '02986',
 '00914',
 '08978',
 '00176',
 '03339',
 '02789',
 '00854',
 '00206',
 '05204',
 '00529',
 '08519',
 '00861',
 '02046',
 '09025',
 '02708',
 '00315',
 '01816',
 '00754',
 '01960',
 '01711',
 '02477',
 '01957',
 '01455',
 '00737',
 '03014',
 '08941',
 '00016',
 '00137',
 '01430',
 '00633',
 '01313',
 '00570',
 '01521',
 '01433',
 '02019',
 '08962',
 '02877',
 '03328',
 '00615',
 '02946',
 '01325',
 '08932',
 '02778',
 '179',
 '08923',
 '02917',
 '01545',
 '02158',
 '02475',
 '01886',
 '01569',
 '02197',
 '00138',
 '01279',
 '02945',
 '04652',
 '00348',
 '05960',
 '02273',
 '01327',
 '02012',
 '01696',
 '00017',
 '00415',
 '01504',
 '00991',
 '01721',
 '01919',
 '04111',
 '02524',
 '00383',
 '02249',
 '01976',
 '01032',
 '00630',
 '03325',
 '02928',
 '10964',
 '00477',
 '01423',
 '00150',
 '01311',
 '10979',
 '00196',
 '04753',
 '01182',
 '02775',
 '00731',
 '00989',
 '02049',
 '03107',
 '00940',
 '01299',
 '01531',
 '01558',
 '05281',
 '00815',
 '00505',
 '00909',
 '11005',
 '03964',
 '123',
 '04620',
 '00806',
 '02223',
 '00023',
 '01811',
 '01879',
 '00443',
 '02345',
 '00200',
 '05094',
 '01903',
 '02320',
 '05290',
 '01228',
 '06182',
 '02643',
 '00431',
 '02074',
 '00107',
 '00829',
 '00173',
 '02586',
 '02686',
 '00266',
 '01149',
 '01712',
 '01926',
 '01512',
 '03804',
 '00469',
 '10976',
 '02743',
 '03177',
 '01647',
 '00414',
 '03248',
 '01776',
 '05125',
 '01034',
 '00907',
 '00745',
 '01330',
 '00349',
 '00770',
 '01760',
 '05100',
 '00985',
 '01838',
 '01888',
 '08948',
 '00263',
 '00923',
 '01772',
 '03057',
 '05994',
 '00310',
 '05227',
 '01775',
 '02887',
 '01150',
 '01254',
 '00160',
 '00482',
 '02677',
 '00335',
 '01654',
 '08924',
 '01464',
 '08960',
 '00562',
 '01525',
 '03167',
 '00083',
 '01750',
 '02490',
 '03128',
 '02893',
 '01175',
 '01116',
 '08908',
 '00292',
 '09043',
 '00347',
 '03547',
 '00777',
 '00922',
 '08983',
 '02305',
 '01668',
 '01540',
 '01309',
 '03549',
 '00885',
 '02421',
 '02737',
 '08916',
 '00576',
 '00846',
 '01019',
 '00627',
 '02119',
 '08903',
 '01125',
 '01312',
 '02960',
 '01454',
 '00069',
 '01858',
 '00233',
 '01047',
 '04186',
 '00831',
 '01286',
 '03178',
 '02293',
 '02375',
 '02025',
 '03483',
 '05977',
 '01394',
 '09007',
 '00628',
 '01945',
 '00892',
 '02218',
 '00470',
 '02830',
 '00953',
 '05289',
 '01715',
 '01086',
 '01697',
 '00656',
 '09001',
 '00533',
 '01395',
 '02167',
 '00514',
 '00198',
 '00724',
 '08996',
 '00136',
 '02872',
 '00273',
 '00713',
 '01056',
 '01285',
 '03104',
 '08920',
 '00547',
 '01094',
 '01973',
 '01153',
 '00585',
 '00131',
 '00933',
 '01673',
 '00174',
 '02024',
 '0023',
 '01387',
 '01787',
 '04629',
 '00025',
 '02190',
 '02044',
 '01786',
 '00085',
 '00067',
 '01244',
 '00495',
 '00858',
 '05959',
 '02612',
 '00554',
 '02814',
 '00090',
 '00188',
 '02238',
 '03073',
 '04662',
 '01308',
 '06726',
 '0000',
 '00563',
 '02978',
 '02567',
 '00436',
 '00498',
 '02883',
 '05382',
 '08949',
 '01488',
 '00890',
 '01574',
 '05235',
 '01156',
 '01897',
 '00902',
 '04686',
 '00433',
 '01251',
 '03715',
 '02365',
 '00507',
 '01847',
 '02423',
 '01098',
 '03542',
 '02052',
 '05302',
 '00274',
 '02231',
 '02354',
 '00142',
 '180',
 '00736',
 '05989',
 '01541',
 '00223',
 '01618',
 '04730',
 '02983',
 '01834',
 '00293',
 '00201',
 '02286',
 '01174',
 '01839',
 '02516',
 '01583',
 '00545',
 '02776',
 '01486',
 '00790',
 '04094',
 '00699',
 '02934',
 '03304',
 '04696',
 '00711',
 '01483',
 '00268',
 '00476',
 '01256',
 '01129',
 '00389',
 '01785',
 '01331',
 '00572',
 '02200',
 '02492',
 '01147',
 '01507',
 '01629',
 '01033',
 '02459',
 '00786',
 '00464',
 '05967',
 '02555',
 '00320',
 '03324',
 '02172',
 '04020',
 '03417',
 '04607',
 '00472',
 '01402',
 '02504',
 '00967',
 '0030',
 '02669',
 '03200',
 '01015',
 '00004',
 '02638',
 '05323',
 '03512',
 '01773',
 '03055',
 '00663',
 '00824',
 '02335',
 '03279',
 '01247',
 '02377',
 '01420',
 '01601',
 '02991',
 '00302',
 '00681',
 '01796',
 '03296',
 '01231',
 '01829',
 '06722',
 '04018',
 '00281',
 '05154',
 '00709',
 '01991',
 '08959',
 '00323',
 '02142',
 '05263',
 '01118',
 '01723',
 '08976',
 '00276',
 '01186',
 '01146',
 '01180',
 '01795',
 '00926',
 '04640',
 '10993',
 '00594',
 '02050',
 '02559',
 '00689',
 '01990',
 '00024',
 '00962',
 '02826',
 '08911',
 '03130',
 '04100',
 '04061',
 '10967',
 '02900',
 '01575',
 '00503',
 '01718',
 '02561',
 '01396',
 '02513',
 '01302',
 '02509',
 '06013',
 '01183',
 '04688',
 '05092',
 '05280',
 '03437',
 '08937',
 '00760',
 '03075',
 '00819',
 '00424',
 '00369',
 '01230',
 '02808',
 '02397',
 '03291',
 '00763',
 '06058',
 '00368',
 '00669',
 '00682',
 '03441',
 '03535',
 '01386',
 '01502',
 '00639',
 '00209',
 '02199',
 '00301',
 '03321',
 '01403',
 '00636',
 '01687',
 '01057',
 '02222',
 '00884',
 '01831',
 '00374',
 '01582',
 '00039',
 '02922',
 '00331',
 '00937',
 '02124',
 '03035',
 '01242',
 '02367',
 '00930',
 '05974',
 '00845',
 '00234',
 '01207',
 '04641',
 '00756',
 '00420',
 '03074',
 '03405',
 '03529',
 '04038',
 '08985',
 '02055',
 '00101',
 '03504',
 '01476',
 '03877',
 '01111',
 '02216',
 '00974',
 '01995',
 '05723',
 '03333',
 '00371',
 '02057',
 '00175',
 '02792',
 '00976',
 '00852',
 '01323',
 '01638',
 '03978',
 '08988',
 '02680',
 '01334',
 '01965',
 '02627',
 '02005',
 '116',
 '04189',
 '00997',
 '00432',
 '02565',
 '00908',
 '00912',
 '00125',
 '00082',
 '03552',
 '01144',
 '04777',
 '03267',
 '00850',
 '01679',
 '00467',
 '00184',
 '00461',
 '05785',
 '01875',
 '01447',
 '01598',
 '02738',
 '00990',
 '02132',
 '10982',
 '02832',
 '00408',
 '02731',
 '01914',
 '01537',
 '01237',
 '04618',
 '02407',
 '08993',
 '02662',
 '01985',
 '00344',
 '01493',
 '03034',
 '01613',
 '00848',
 '00604',
 '01449',
 '01964',
 '02147',
 '08067',
 '01235',
 '02206',
 '03133',
 '01017',
 '01257',
 '02207',
 '01030',
 '00114',
 '01154',
 '02164',
 '02836',
 '10985',
 '00934',
 '01499',
 '03068',
 '00539',
 '09042',
 '02914',
 '01820',
 '01591',
 '01274',
 '03454',
 '02451',
 '01992',
 '10992',
 '00611',
 '08936',
 '01612',
 '04043',
 '02794',
 '00228',
 '00812',
 '03215',
 '00869',
 '01347',
 '02370',
 '02819',
 '03244',
 '00744',
 '00946',
 '02035',
 '02265',
 '02390',
 '01113',
 '00532',
 '01278',
 '08915',
 '00889',
 '01939',
 '00741',
 '05958',
 '01467',
 '01716',
 '02771',
 '01390',
 '01416',
 '00661',
 '01048',
 '08906',
 '00867',
 '00826',
 '00077',
 '00836',
 '153',
 '01790',
 '00372',
 '01407',
 '02110',
 '00877',
 '00525',
 '02139',
 '05313',
 '04015',
 '01061',
 '05255',
 '02755',
 '04802',
 '01223',
 '01931',
 '00517',
 '01364',
 '06028',
 '01166',
 '04636',
 '01411',
 '02878',
 '08944',
 '00510',
 '00140',
 '05189',
 '00688',
 '01143',
 '06030',
 '00984',
 '02188',
 '02692',
 '01110',
 '02730',
 '05266',
 '00929',
 '08961',
 '00261',
 '01822',
 '02060',
 '02752',
 '00248',
 '03332',
 '02251',
 '01596',
 '05780',
 '03487',
 '00384',
 '01809',
 '01902',
 '00973',
 '03278',
 '02543',
 '00364',
 '00928',
 '01106',
 '02272',
 '03970',
 '00925',
 '04668',
 '02896',
 '02825',
 '01690',
 '01950',
 '00856',
 '02240',
 '02943',
 '00516',
 '01821',
 '00203',
 '01993',
 '02133',
 '01011',
 '00734',
 '01162',
 '01101',
 '00064',
 '00014',
 '02678',
 '01462',
 '01419',
 '03156',
 '06032',
 '02195',
 '00643',
 '00103',
 '02031',
 '04174',
 '00609',
 '00916',
 '01401',
 '08947',
 '00458',
 '00968',
 '04793',
 '00665',
 '00601',
 '00168',
 '0012',
 '01649',
 '00588',
 '00091',
 '01619',
 '01666',
 '00958',
 '02962',
 '03002',
 '00526',
 '02767',
 '06050',
 '01872',
 '00419',
 '04013',
 '03030',
 '02544',
 '03509',
 '04014',
 '01791',
 '00164',
 '00460',
 '01669',
 '01815',
 '02944',
 '03366',
 '05147',
 '01797',
 '02161',
 '06026',
 '01854',
 '01871',
 '01366',
 '02043',
 '03461',
 '121',
 '02388',
 '09004',
 '05115',
 '04185',
 '00732',
 '00970',
 '03612',
 '03381',
 '02400',
 '05141',
 '00015',
 '00969',
 '00440',
 '00079',
 '08503',
 '00427',
 '00941',
 '00211',
 '01955',
 '00361',
 '02292',
 '02536',
 '00327',
 '02720',
 '00746',
 '04086',
 '00352',
 '00215',
 '00980',
 '00832',
 '01933',
 '03056',
 '01374',
 '02514',
 '00027',
 '00475',
 '00813',
 '05262',
 '000164',
 '00891',
 '01956',
 '00245',
 '10983',
 '00243',
 '00253',
 '01024',
 '02880',
 '03042',
 '00035',
 '06053',
 '08918',
 '01435',
 '00012',
 '04171',
 '01440',
 '01176',
 '01451',
 '04033',
 '00309',
 '05130',
 '05232',
 '06027',
 '02979',
 '00619',
 '04781',
 '00767',
 '00993',
 '01282',
 '00981',
 '00801',
 '09016',
 '01300',
 '00964',
 '09022',
 '02783',
 '01632',
 '04016',
 '02149',
 '03221',
 '00120',
 '02352',
 '04630',
 '06020',
 '00254',
 '00169',
 '03290',
 '00522',
 ...}

In [ ]:
alldb_drop5 = alldb_drop5[(alldb_drop5['PartitionKey'].astype(str).str.isdigit()) & (alldb_drop5['PartitionKey'].str.len() == 5 )] # เลือกข้อมูลที่เป็น 5 หลัก

In [ ]:
alldb_drop5

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย,36

### ทำการเเก้ไขข้อมูลให้ถูกต้อง ในรูปแบบที่กำหนด

#### คอลัมน์ time

In [ ]:
alldb_drop5['time'] = alldb_drop5['time'].replace(':','-', regex=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ตาราง alldb.csv หลังจัดการข้อมูลแล้ว

In [ ]:
alldb_drop5 # ดูตาราง alldb.csv หลังจัดการข้อมูลแล้ว

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย,36

## จัดการข้อมูลหลัก ตาราง hospital_list.xlsx

In [ ]:
hospital_list # แสดงข้อมูลตาราง hospital_list.xlsx

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

### ตรวจสอบค่า Missing

In [ ]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

### ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [ ]:
h_drop = hospital_list.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
h_drop

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [ ]:
h_drop.shape #ตรวจสอบขนาดของตารางใหม่

(11798, 16)

In [ ]:
removes = hospital_list.shape[0] - h_drop.shape[0]
print(f'size before drop = {hospital_list.shape[0]}')
print(f'size after drop = {h_drop.shape[0]}')
print(f'% from drop = {(removes/hospital_list.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปถึง 31% ดังนั้น จึงไม่สามารถใช้การ .dropna() ได ้

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

In [ ]:
hospital_list[['name']] = hospital_list[['name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
hospital_list[['zone_name']] = hospital_list[['zone_name']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
p = hospital_list[['provincecode']].mean() #กำหนดให้ provincecode เป็นค่าเฉลี่ยของ provincecode
hospital_list[['provincecode']] = hospital_list[['provincecode']].fillna(p) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
a = hospital_list[['amphurcode']].mean() #กำหนดให้ amphurcode เป็นค่าเฉลี่ยของ amphurcode
hospital_list[['amphurcode']] = hospital_list[['amphurcode']].fillna(a) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
hospital_list[['amphur']] = hospital_list[['amphur']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
t = hospital_list[['tamboncode']].mean() #กำหนดให้ tamboncode เป็นค่าเฉลี่ยของ tamboncode
hospital_list[['tamboncode']] = hospital_list[['tamboncode']].fillna(t) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
hospital_list[['tambon']] = hospital_list[['tambon']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
c = hospital_list[['code4']].mean() #กำหนดให้ code4 เป็นค่าเฉลี่ยของ code4
hospital_list[['code4']] = hospital_list[['code4']].fillna(c) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
hospital_list[['name5']] = hospital_list[['name5']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
c2 = hospital_list[['code9']].mean() #กำหนดให้ code9 เป็นค่าเฉลี่ยของ code9
hospital_list[['code9']] = hospital_list[['code9']].fillna(c2) #แทนค่าเฉลี่ยลงในข้อมูลที่ว่าง หรือเป็นค่า missing

In [ ]:
hospital_list[['name10']] = hospital_list[['name10']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
hospital_list[['short_thai']] = hospital_list[['short_thai']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
hospital_list[['short_english']] = hospital_list[['short_english']].fillna('ไม่ระบุ') 
#แทนค่า Missing ด้วยคำว่า ไม่ระบุ

In [ ]:
hospital_list.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

### ทำการเปลี่ยน type ของข้อมูลให้เป็น type ที่ถูกต้อง

In [ ]:
hospital_list.dtypes # เช็คว่าข้อมูลมี่ความตรงกับที่ต้องการหรือไม่ ## ต้องการให้ hcode เป็น int

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [ ]:
set(hospital_list['hcode']) # เพื่อดูข้อมูลทั้งหมดใน column hcode

{'03583',
 '01917',
 '02417',
 '08972',
 '10574',
 '01195',
 '09649',
 '04989',
 '05492',
 '04103',
 '02534',
 '07354',
 '05318',
 '23578',
 '07048',
 '09843',
 '21434',
 '00124',
 '06894',
 '08943',
 '00390',
 '07244',
 '04370',
 '03010',
 '07960',
 '03941',
 '15055',
 '01045',
 '24021',
 '23065',
 '08956',
 '00375',
 '02098',
 '25163',
 '06877',
 '07488',
 '24110',
 '01249',
 '11119',
 '25112',
 '25622',
 '27776',
 '99942',
 '09757',
 '28157',
 '07001',
 '01560',
 '05268',
 '06895',
 '14094',
 '09653',
 '11444',
 '22860',
 '06047',
 '26176',
 '28017',
 '02761',
 '25131',
 '19418',
 '02245',
 '06624',
 '19436',
 '24547',
 '27044',
 '07421',
 '27727',
 '05238',
 '02693',
 '00033',
 '09250',
 '09775',
 '11193',
 '01943',
 '04339',
 '23220',
 '23728',
 '04247',
 '05192',
 '01726',
 '02876',
 '03809',
 '15189',
 '23887',
 '28230',
 '01607',
 '05614',
 '10918',
 '05158',
 '14264',
 '25007',
 '24872',
 '00122',
 '04556',
 '24603',
 '25677',
 '25808',
 '26871',
 '24411',
 '00044',
 '02512',
 '05029',
 '06421',
 '01731',
 '05880',
 '05885',
 '03590',
 '01044',
 '08369',
 '04702',
 '00026',
 '00835',
 '08569',
 '26174',
 '01844',
 '04295',
 '01594',
 '09581',
 '26330',
 '00949',
 '04054',
 '09350',
 '14119',
 '11935',
 '06767',
 '03091',
 '05240',
 '07103',
 '04319',
 '00303',
 '01833',
 '08721',
 '09604',
 '06737',
 '08913',
 '04407',
 '00116',
 '06037',
 '24584',
 '26867',
 '27989',
 '28096',
 '00299',
 '02455',
 '04826',
 '09917',
 '12453',
 '26088',
 '01164',
 '28703',
 '01695',
 '06692',
 '02898',
 '00788',
 '05127',
 '02717',
 '24699',
 '27990',
 '06459',
 '07408',
 '06286',
 '03914',
 '08198',
 '24108',
 '24428',
 '08978',
 '12131',
 '13927',
 '15517',
 '21771',
 '07236',
 '17923',
 '13812',
 '77751',
 '05435',
 '08473',
 '05204',
 '03676',
 '14424',
 '27412',
 '08342',
 '04806',
 '16027',
 '02310',
 '24346',
 '01960',
 '00754',
 '06359',
 '07299',
 '19129',
 '01957',
 '10881',
 '11382',
 '04190',
 '07486',
 '05395',
 '13904',
 '01430',
 '09931',
 '23941',
 '25783',
 '02733',
 '23069',
 '01433',
 '24944',
 '16702',
 '04393',
 '02087',
 '17792',
 '23888',
 '11103',
 '04579',
 '01325',
 '06283',
 '24992',
 '09361',
 '10124',
 '07607',
 '08923',
 '14028',
 '08626',
 '02475',
 '02158',
 '01886',
 '02197',
 '08692',
 '13917',
 '13699',
 '23366',
 '26720',
 '08824',
 '24116',
 '09146',
 '13875',
 '13837',
 '05960',
 '06696',
 '02273',
 '25835',
 '12042',
 '24083',
 '13731',
 '00017',
 '00415',
 '06992',
 '10817',
 '27533',
 '02525',
 '10912',
 '00991',
 '08395',
 '18756',
 '08088',
 '02524',
 '06478',
 '09960',
 '02249',
 '25781',
 '04408',
 '08844',
 '08218',
 '00630',
 '26170',
 '03325',
 '27627',
 '07094',
 '02928',
 '26002',
 '01423',
 '08386',
 '10569',
 '28115',
 '02326',
 '99965',
 '04005',
 '10979',
 '05763',
 '02226',
 '07854',
 '06507',
 '09469',
 '02775',
 '05581',
 '25015',
 '09803',
 '24196',
 '07361',
 '24343',
 '10823',
 '01558',
 '07767',
 '19338',
 '20537',
 '05991',
 '10012',
 '25608',
 '04620',
 '13736',
 '11259',
 '05903',
 '16313',
 '00023',
 '11965',
 '06813',
 '02182',
 '03429',
 '20015',
 '02345',
 '04266',
 '02082',
 '06654',
 '00200',
 '07193',
 '05094',
 '05290',
 '07835',
 '08642',
 '09467',
 '04566',
 '14682',
 '09918',
 '28713',
 '00266',
 '25611',
 '11289',
 '77726',
 '05520',
 '11262',
 '10420',
 '27742',
 '28178',
 '00469',
 '14071',
 '05087',
 '09628',
 '03942',
 '11514',
 '23929',
 '24025',
 '99828',
 '14157',
 '01647',
 '09225',
 '23281',
 '24545',
 '08891',
 '99967',
 '08786',
 '16663',
 '06486',
 '26328',
 '28861',
 '11385',
 '26188',
 '28259',
 '24669',
 '28719',
 '06128',
 '05801',
 '24134',
 '07722',
 '00263',
 '08948',
 '02703',
 '12486',
 '14360',
 '23530',
 '00310',
 '99872',
 '11632',
 '12469',
 '01775',
 '02887',
 '01150',
 '05560',
 '08615',
 '07346',
 '00482',
 '02677',
 '00335',
 '14355',
 '01525',
 '19435',
 '06783',
 '09683',
 '04145',
 '11201',
 '23821',
 '10151',
 '14043',
 '24164',
 '10131',
 '24392',
 '01750',
 '02490',
 '03514',
 '05500',
 '07080',
 '26708',
 '08660',
 '28139',
 '03190',
 '13650',
 '10394',
 '05813',
 '09043',
 '07746',
 '00347',
 '24647',
 '23920',
 '27498',
 '14340',
 '09705',
 '10140',
 '11439',
 '26615',
 '01309',
 '06373',
 '24900',
 '26057',
 '00885',
 '03651',
 '02421',
 '09560',
 '28104',
 '00846',
 '01019',
 '26632',
 '07884',
 '11375',
 '11543',
 '02119',
 '03297',
 '25775',
 '99864',
 '07680',
 '04493',
 '27360',
 '11802',
 '01454',
 '05065',
 '28773',
 '28820',
 '23847',
 '25689',
 '08631',
 '00831',
 '04051',
 '02025',
 '11330',
 '02582',
 '14712',
 '99849',
 '11065',
 '02218',
 '06187',
 '04927',
 '02317',
 '13659',
 '06831',
 '09001',
 '05798',
 '07718',
 '28272',
 '05854',
 '00136',
 '09322',
 '07028',
 '06750',
 '07064',
 '00273',
 '01285',
 '03452',
 '04595',
 '08920',
 '12474',
 '04284',
 '06797',
 '11483',
 '24339',
 '01153',
 '25867',
 '07234',
 '27552',
 '24646',
 '02939',
 '01787',
 '11224',
 '14630',
 '11422',
 '14074',
 '07330',
 '03993',
 '09764',
 '11067',
 '23984',
 '08208',
 '02612',
 '25113',
 '04176',
 '04581',
 '06341',
 '11305',
 '02814',
 '14107',
 '02238',
 '15185',
 '14363',
 '01308',
 '22785',
 '04870',
 '14746',
 '24811',
 '26119',
 '10612',
 '28765',
 '14038',
 '28350',
 '14337',
 '02883',
 '25464',
 '05382',
 '05725',
 '22021',
 '04162',
 '08949',
 '12122',
 '05462',
 '05593',
 '77685',
 '03431',
 '10614',
 '07323',
 '03645',
 '01783',
 '06969',
 '24623',
 '07732',
 '99825',
 '00507',
 '01847',
 '02423',
 '03542',
 '08098',
 '03858',
 '21294',
 '02052',
 '08012',
 '14422',
 '25968',
 '00274',
 '02231',
 '04441',
 '26148',
 '02392',
 '05285',
 '06010',
 '05989',
 '06135',
 '01541',
 '06254',
 '06605',
 '08609',
 '03208',
 '11550',
 '21710',
 '00293',
 '05670',
 '02516',
 '01583',
 '07527',
 '09177',
 '24682',
 '28809',
 '15000',
 '10837',
 '25709',
 '01486',
 '00790',
 '09510',
 '23125',
 '00699',
 '04805',
 '09141',
 '00711',
 '28287',
 '00476',
 '01129',
 '00389',
 '21353',
 '04315',
 '26009',
 '01785',
 '01331',
 '07460',
 '10084',
 '02492',
 '10180',
 '25058',
 '25000',
 '13724',
 '17384',
 '22789',
 '00464',
 '06396',
 '04598',
 '26007',
 '03013',
 '03324',
 '03962',
 '02669',
 '25817',
 '09214',
 '03200',
 '03987',
 '04166',
 '06282',
 '07226',
 '07924',
 '10957',
 '05847',
 '07227',
 '01115',
 '13702',
 '05417',
 '14328',
 '03029',
 '00824',
 '02335',
 '11184',
 '11341',
 '06786',
 '11405',
 '08160',
 '01601',
 '02991',
 '17786',
 '07065',
 '07376',
 '07165',
 '05507',
 '03650',
 '04376',
 '01829',
 '00281',
 '24863',
 '77690',
 '25674',
 '11185',
 '07690',
 '25890',
 '00323',
 '02142',
 '04545',
 '05263',
 '18371',
 '18385',
 '22799',
 '06583',
 '00276',
 '07651',
 '08976',
 '05985',
 '00926',
 '13862',
 '09952',
 '11847',
 '08375',
 '25169',
 '08683',
 '09610',
 '08736',
 '08836',
 '02559',
 '12228',
 '99856',
 '04585',
 '03874',
 '11230',
 '23806',
 '09911',
 '22767',
 '08911',
 '07381',
 '07663',
 '09854',
 '24977',
 '14923',
 '04442',
 '08785',
 '11087',
 '10967',
 '06150',
 '09076',
 '10591',
 '01575',
 '05825',
 '00503',
 '01718',
 '13693',
 '27490',
 '09505',
 '04757',
 '09928',
 '04818',
 '08630',
 '24380',
 '06989',
 '28152',
 '01183',
 '04688',
 '08937',
 '08229',
 '05453',
 '06987',
 '03075',
 '27010',
 '06134',
 '24951',
 '06830',
 '12420',
 '04147',
 '00669',
 '14201',
 '03441',
 '03535',
 '25946',
 '26341',
 '27447',
 '00209',
 '03321',
 '11669',
 '01403',
 '25779',
 '07994',
 '10819',
 '00884',
 '01582',
 '14364',
 '03973',
 '03769',
 '05668',
 '02124',
 '10905',
 '15027',
 '11428',
 '03035',
 '21343',
 '05974',
 '00930',
 '28599',
 '05600',
 '24159',
 '14414',
 '07837',
 '03638',
 '25447',
 '03074',
 '11552',
 '04324',
 '11102',
 '09366',
 '12223',
 '15151',
 '11254',
 '16383',
 '01476',
 '24861',
 '07222',
 '11075',
 '00974',
 '11487',
 '99815',
 '24436',
 '00852',
 '01638',
 '09512',
 '06901',
 '09724',
 '99745',
 '08301',
 '02603',
 '07383',
 '24528',
 '06660',
 '24972',
 '09230',
 '10357',
 '11279',
 '11307',
 '04477',
 '05300',
 '09704',
 '15837',
 '11891',
 '10597',
 '24513',
 '00432',
 '27387',
 '04656',
 '03166',
 '27373',
 '14173',
 '00912',
 '10024',
 '06581',
 '03532',
 '08146',
 '07469',
 '07477',
 '03267',
 '07106',
 '11377',
 '20031',
 '03455',
 '03201',
 '08058',
 '25111',
 '03946',
 '08634',
 '08768',
 '02738',
 '06291',
 '28146',
 '10982',
 '04898',
 '02832',
 '08616',
 '04167',
 '10521',
 '15476',
 '01914',
 '14160',
 '24043',
 '09300',
 '12444',
 '24670',
 '25917',
 '10906',
 '10366',
 '01493',
 '11451',
 '01613',
 '00604',
 '04533',
 '10193',
 '03133',
 '24787',
 '11758',
 '07939',
 '24499',
 '11320',
 '01154',
 '27004',
 '02836',
 '11167',
 '23221',
 '09732',
 '00934',
 '05935',
 '05194',
 '03667',
 '08846',
 '23638',
 '14307',
 '24095',
 '99931',
 '25738',
 '06094',
 '01274',
 '08138',
 '05750',
 '21350',
 '25836',
 '26927',
 '27437',
 '05762',
 '07648',
 '17874',
 '77747',
 '06687',
 '08524',
 '08936',
 '02289',
 '07540',
 '14827',
 '00228',
 '14828',
 '09283',
 '00869',
 '03244',
 '26331',
 '13832',
 '02035',
 '20982',
 '01113',
 '02221',
 '03204',
 '11989',
 '01278',
 '14999',
 '27738',
 '77765',
 '06399',
 '26279',
 '24393',
 '28547',
 '01390',
 '02448',
 '06657',
 '11344',
 '00867',
 '08510',
 '09791',
 '24128',
 '14868',
 '00077',
 '05557',
 '10052',
 '99827',
 '24785',
 '10928',
 '25022',
 '06738',
 '07181',
 '24283',
 '09098',
 '00877',
 '06891',
 '13676',
 '05255',
 '01223',
 '21615',
 '14060',
 '01931',
 '11128',
 '28842',
 '00517',
 '01364',
 '08662',
 '08531',
 '04636',
 '28067',
 '11021',
 '13687',
 '00688',
 '08863',
 '09224',
 '22338',
 '09722',
 '23780',
 '03680',
 '28427',
 '21584',
 '04591',
 '14948',
 '00248',
 '24980',
 '03697',
 '09094',
 '09835',
 '28319',
 '01596',
 '07717',
 '02725',
 '24772',
 '07347',
 '00384',
 '06332',
 '02543',
 '10106',
 '22782',
 '06867',
 '14385',
 '04764',
 '14053',
 '22743',
 '08272',
 '25722',
 '21409',
 '14528',
 '02625',
 '04296',
 '00856',
 '01821',
 '11493',
 '09438',
 '02520',
 '11032',
 '05048',
 '08680',
 '24687',
 '16753',
 '03763',
 '10796',
 '23843',
 '24010',
 '26134',
 '25188',
 '26618',
 '00014',
 ...}

เเก้ไขให้มีข้อมูลที่ถูกต้อง

โดยกำหนดให้ข้อมูลที่ไม่ใช่เลข 5 หลัก เท่ากับ ข้อมูลว่าง

In [ ]:
hospital_list['hcode'].replace({'2475x':None,'2560x':None},inplace=True)

In [ ]:
hospital_list_drop = hospital_list.dropna() # ทำการ drop ค่าว่างออก 
hospital_list_drop # แสดงผลลัพธ์

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

In [ ]:
hospital_list_drop = hospital_list_drop[(hospital_list_drop['hcode'].astype(str).str.isdigit()) & (hospital_list_drop['hcode'].str.len() == 5 )] # เลือกข้อมูลที่เป็น 5 หลัก

In [ ]:
hospital_list_drop

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

## ตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

In [ ]:
hospital_list_drop # ดูตาราง hospital_list.xlsx หลังจัดการข้อมูลแล้ว

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

# รวมข้อมูลทั้งสองตารางเข้าด้วยกัน

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx

In [ ]:
merged = alldb_drop5.merge(hospital_list_drop,how='left',left_on='site',right_on='hcode') 
merged

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37401,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37402,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37403,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37404,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37405,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

## ตรวจสอบค่า Missing

In [ ]:
merged.isnull().any() 
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
title            False
age              False
hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## ใช้ .dropna ซึ่งจะใช้ตัดแถวข้อมูลที่มีค่า missing

In [ ]:
merged_drop = merged.dropna() #ใช้ dropna เพื่อต้องการลบข้อมูลทั้งแถวออกเมื่อมีคอลัมน์ใดคอลัมน์หนึ่งเป็น NaN
merged_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37401,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37402,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37403,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37404,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37405,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
merged_drop.shape #ตรวจสอบขนาดของตารางใหม่

(37406, 27)

In [ ]:
removes = merged.shape[0] - merged_drop.shape[0]
print(f'size before drop = {merged.shape[0]}')
print(f'size after drop = {merged_drop.shape[0]}')
print(f'% from drop = {(removes/merged.shape[0])*100}')
 # จากการคำนวณพบว่ามีข้อมูลที่หายไปเพียงแค่ 0.195% ดังนั้น จึงสามารถใช้การ .dropna() ได ้

size before drop = 37406
size after drop = 37406
% from drop = 0.0

# ตารางข้อมูลที่จะนำมาใช้

In [ ]:
merged_drop # แสดงผลลัพธ์

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37401,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37402,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37403,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37404,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37405,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
merged_drop.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
title            False
age              False
hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## จำนวนการตรวจในแต่ละพื้นที่

In [ ]:
Province = merged_drop.groupby('province').count()
Province

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,7814,7814,7814,7814,7814,7814,7814,7814,7814,7814,...,7814,7814,7814,7814,7814,7814,7814,7814,7814,7814
ขอนแก่น,4242,4242,4242,4242,4242,4242,4242,4242,4242,4242,...,4242,4242,4242,4242,4242,4242,4242,4242,4242,4242
นครพนม,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
นครราชสีมา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,8896,8896,8896,8896,8896,8896,8896,8896,8896,8896,...,8896,8896,8896,8896,8896,8896,8896,8896,8896,8896
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ร้อยเอ็ด,13656,13656,13656,13656,13656,13656,13656,13656,13656,13656,...,13656,13656,13656,13656,13656,13656,13656,13656,13656,13656
ลำปาง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ศรีสะเกษ,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สกลนคร,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
อุดรธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุตรดิตถ์,2778,2778,2778,2778,2778,2778,2778,2778,2778,2778,...,2778,2778,2778,2778,2778,2778,2778,2778,2778,2778
อุบลราชธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
Province_new = Province.iloc[:,:1]
Province_new

              user
province
กาฬสินธุ์     7814
ขอนแก่น       4242
นครพนม           5
นครราชสีมา       1
มหาสารคาม     8896
มุกดาหาร         2
ร้อยเอ็ด     13656
ลำปาง            1
ศรีสะเกษ         3
สกลนคร           6
อุดรธานี         1
อุตรดิตถ์     2778
อุบลราชธานี      1

In [ ]:
P_noindex = Province_new.reset_index()
P_noindex

       province   user
0     กาฬสินธุ์   7814
1       ขอนแก่น   4242
2        นครพนม      5
3    นครราชสีมา      1
4     มหาสารคาม   8896
5      มุกดาหาร      2
6      ร้อยเอ็ด  13656
7         ลำปาง      1
8      ศรีสะเกษ      3
9        สกลนคร      6
10     อุดรธานี      1
11    อุตรดิตถ์   2778
12  อุบลราชธานี      1

In [ ]:
pv = {'user':'จำนวนการตรวจในแต่ละพื้นที่'}
# call rename () method
P_noindex.rename(columns=pv,
          inplace=True)
P_noindex

       province  จำนวนการตรวจในแต่ละพื้นที่
0     กาฬสินธุ์                        7814
1       ขอนแก่น                        4242
2        นครพนม                           5
3    นครราชสีมา                           1
4     มหาสารคาม                        8896
5      มุกดาหาร                           2
6      ร้อยเอ็ด                       13656
7         ลำปาง                           1
8      ศรีสะเกษ                           3
9        สกลนคร                           6
10     อุดรธานี                           1
11    อุตรดิตถ์                        2778
12  อุบลราชธานี                           1

## จำนวนที่พบโรค

### ระดับ 0

In [ ]:
ov_0 = merged_drop[merged_drop['ov']== 0]
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,นางสาว,...,9.0,ทองแสนขัน,4.0,น้ำพี้,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
8,19911,22E333B1-A8D4-4FCB-8304-7BD2C3D9C94A,2022-03-30,"iPhone12,5",06319,09:32:46,ปกติ (เหลืองใส),0,00001,นาย,...,7.0,พิชัย,11.0,นายาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
9,99771,267232EA-5B0D-4783-8449-16687A62C5B7,2022-03-22,"iPhone10,6",05396,10:35:33,ปกติ (เหลืองใส),0,00001,นางสาว,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
13,14360,41AE352F-77A0-4D26-B39C-6A09B39576BA,2022-03-31,"iPhone8,2",04405,14:11:05,ปกติ (เหลืองใส),0,00001,นางสาว,...,15.0,หนองสองห้อง,9.0,หันโจด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,ขก,KKN
17,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14:56:46,ปกติ (เหลืองใส),0,00001,นาง,...,4.0,น้ำปาด,1.0,แสนตอ,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37394,26462,vcubzchjxv.png,2022-03-21,Vivo 1920,11069,14:18:41,ปกติ (เหลืองใส),0,10995,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37396,26462,AD576EF3-4128-4DCD-93CB-63494C69F326,2022-03-22,"iPhone13,4",11069,13:39:56,ปกติ (เหลืองใส),0,10997,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37397,26462,qukpkgoxfp.png,2022-03-21,Vivo 1920,11069,11:54:17,ปกติ (เหลืองใส),0,10998,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37399,26462,dghzdcrtay.png,2022-03-21,Vivo 1920,11069,11:51:32,มีตะกอน,0,11000,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37404,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
ov_0 = ov_0.groupby('province').count()
ov_0

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,5190,5190,5190,5190,5190,5190,5190,5190,5190,5190,...,5190,5190,5190,5190,5190,5190,5190,5190,5190,5190
ขอนแก่น,3315,3315,3315,3315,3315,3315,3315,3315,3315,3315,...,3315,3315,3315,3315,3315,3315,3315,3315,3315,3315
นครพนม,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
นครราชสีมา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,3960,3960,3960,3960,3960,3960,3960,3960,3960,3960,...,3960,3960,3960,3960,3960,3960,3960,3960,3960,3960
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ร้อยเอ็ด,7029,7029,7029,7029,7029,7029,7029,7029,7029,7029,...,7029,7029,7029,7029,7029,7029,7029,7029,7029,7029
ศรีสะเกษ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สกลนคร,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
อุตรดิตถ์,1517,1517,1517,1517,1517,1517,1517,1517,1517,1517,...,1517,1517,1517,1517,1517,1517,1517,1517,1517,1517
อุบลราชธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
ov_0_new = ov_0.iloc[:,:1]
ov_0_new

             user
province
กาฬสินธุ์    5190
ขอนแก่น      3315
นครพนม          2
นครราชสีมา      1
มหาสารคาม    3960
มุกดาหาร        2
ร้อยเอ็ด     7029
ศรีสะเกษ        1
สกลนคร          3
อุตรดิตถ์    1517
อุบลราชธานี     1

In [ ]:
ov_0_noindex = ov_0_new.reset_index()
ov_0_noindex

       province  user
0     กาฬสินธุ์  5190
1       ขอนแก่น  3315
2        นครพนม     2
3    นครราชสีมา     1
4     มหาสารคาม  3960
5      มุกดาหาร     2
6      ร้อยเอ็ด  7029
7      ศรีสะเกษ     1
8        สกลนคร     3
9     อุตรดิตถ์  1517
10  อุบลราชธานี     1

In [ ]:
o0 = {'user':'จำนวนที่พบโรค ระดับ 0'}
# call rename () method
ov_0_noindex.rename(columns=o0,
          inplace=True)
ov_0_noindex

       province  จำนวนที่พบโรค ระดับ 0
0     กาฬสินธุ์                   5190
1       ขอนแก่น                   3315
2        นครพนม                      2
3    นครราชสีมา                      1
4     มหาสารคาม                   3960
5      มุกดาหาร                      2
6      ร้อยเอ็ด                   7029
7      ศรีสะเกษ                      1
8        สกลนคร                      3
9     อุตรดิตถ์                   1517
10  อุบลราชธานี                      1

### ระดับ 1

In [ ]:
ov_1 = merged_drop[merged_drop['ov']== 1]
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
15,24986,44E5D0C4-9195-47FC-82C3-CF9A711D85AB,2022-03-28,"iPhone14,3",06278,11:49:13,ปกติ (เหลืองใส),1,00001,นาย,...,3.0,ท่าปลา,2.0,หาดล้า,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
27,08370,6E4E96B0-5DE4-456F-8088-A1FEF6E3F468,2022-03-23,"iPhone10,5",13966,10:42:14,ปกติ (เหลืองใส),1,00001,นางสาว,...,14.0,ห้วยผึ้ง,2.0,ไค้นุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
31,06964,7667F96F-0ACA-4111-9ABD-54BFE320009D,2022-03-29,"iPhone12,1",06286,10:58:45,ปกติ (เหลืองใส),1,00001,นาง,...,3.0,ท่าปลา,6.0,ท่าแฝก,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
34,71152,7A9B5C50-E7CC-4EF4-9E72-7D018B488040,2022-03-10,"iPhone13,2",05327,11:16:06,ปกติ (เหลืองใส),1,00001,นาง,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
37,06283,83B0AD8E-AF6A-4D2F-A321-B9CF22915090,2022-03-28,"iPhone13,2",06283,14:29:40,ปกติ (เหลืองใส),1,00001,นาย,...,3.0,ท่าปลา,5.0,น้ำหมัน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37379,26462,fvygcngevl.png,2022-03-21,Vivo 1920,11069,10:29:01,ปกติ (เหลืองใส),1,10980,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37383,26462,jdmhexxudc.png,2022-03-21,Vivo 1920,11069,10:54:05,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,10984,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37398,26462,10CBBBC5-3BAC-4927-93B1-24918834B166,2022-03-22,"iPhone13,4",11069,14:01:18,ปกติ (เหลืองใส),1,10999,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37401,26462,ieotqfnqcq.png,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,นางสาว,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37405,26462,vdxxgljykj.png,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
ov_1 = ov_1.groupby('province').count()
ov_1

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,916,916,916,916,916,916,916,916,916,916,...,916,916,916,916,916,916,916,916,916,916
ขอนแก่น,551,551,551,551,551,551,551,551,551,551,...,551,551,551,551,551,551,551,551,551,551
นครพนม,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
มหาสารคาม,2104,2104,2104,2104,2104,2104,2104,2104,2104,2104,...,2104,2104,2104,2104,2104,2104,2104,2104,2104,2104
ร้อยเอ็ด,3051,3051,3051,3051,3051,3051,3051,3051,3051,3051,...,3051,3051,3051,3051,3051,3051,3051,3051,3051,3051
ศรีสะเกษ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สกลนคร,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
อุดรธานี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุตรดิตถ์,453,453,453,453,453,453,453,453,453,453,...,453,453,453,453,453,453,453,453,453,453

In [ ]:
ov_1_new = ov_1.iloc[:,:1]
ov_1_new

           user
province
กาฬสินธุ์   916
ขอนแก่น     551
นครพนม        2
มหาสารคาม  2104
ร้อยเอ็ด   3051
ศรีสะเกษ      1
สกลนคร        3
อุดรธานี      1
อุตรดิตถ์   453

In [ ]:
ov_1_noindex = ov_1_new.reset_index()
ov_1_noindex

    province  user
0  กาฬสินธุ์   916
1    ขอนแก่น   551
2     นครพนม     2
3  มหาสารคาม  2104
4   ร้อยเอ็ด  3051
5   ศรีสะเกษ     1
6     สกลนคร     3
7   อุดรธานี     1
8  อุตรดิตถ์   453

In [ ]:
o1 = {'user':'จำนวนที่พบโรค ระดับ 1'}
# call rename () method
ov_1_noindex.rename(columns=o1,
          inplace=True)
ov_1_noindex

    province  จำนวนที่พบโรค ระดับ 1
0  กาฬสินธุ์                    916
1    ขอนแก่น                    551
2     นครพนม                      2
3  มหาสารคาม                   2104
4   ร้อยเอ็ด                   3051
5   ศรีสะเกษ                      1
6     สกลนคร                      3
7   อุดรธานี                      1
8  อุตรดิตถ์                    453

### ระดับ 2

In [ ]:
ov_2 = merged_drop[merged_drop['ov']== 2]
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
6,06277,1DDA8B23-D1EA-4E15-AE70-1E7FE53733B6,2022-03-25,"iPhone14,3",06277,10:13:51,ปกติ (เหลืองใส),2,00001,นาย,...,3.0,ท่าปลา,2.0,หาดล้า,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
12,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10:12:10,ปกติ (เหลืองใส),2,00001,นาง,...,2.0,ตรอน,2.0,บ้านแก่ง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,อต,UTT
19,00001,540553CD-1EAB-4252-A64E-F96A8390CE10,2022-03-28,"iPad13,6",10360,12:24:15,ปกติ (เหลืองใส),2,00001,นาย,...,4.0,น้ำปาด,5.0,น้ำไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
20,74891,594A7093-AB5F-4A64-8B74-E336ED81A444,2022-04-01,"iPhone12,8",05055,15:15:35,มีตะกอน,2,00001,นาง,...,10.0,นาดูน,4.0,ดงบัง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
22,40059,5F8D255F-B0F5-4CE5-9607-7916E394173D,2022-03-18,"iPad13,1",05052,11:36:13,ใสเป็นน้ำเปล่า,2,00001,นาง,...,10.0,นาดูน,2.0,หนองไผ่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37366,26462,wgxurysjec.png,2022-03-22,OPPO CPH1819,11069,09:13:07,ขุ่น,2,10968,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37367,26462,vanquopswi.png,2022-03-22,Vivo V2050,11069,09:48:29,ปกติ (เหลืองใส),2,10969,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37395,26462,3340619E-D3F4-4090-B3D0-B6CDF1D9F370,2022-03-21,"iPhone13,4",11069,13:58:41,มีตะกอน,2,10996,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37402,26462,cywpeqziic.png,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37403,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
ov_2 = ov_2.groupby('province').count()
ov_2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,541,541,541,541,541,541,541,541,541,541,...,541,541,541,541,541,541,541,541,541,541
ขอนแก่น,164,164,164,164,164,164,164,164,164,164,...,164,164,164,164,164,164,164,164,164,164
มหาสารคาม,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183,...,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183
ร้อยเอ็ด,1396,1396,1396,1396,1396,1396,1396,1396,1396,1396,...,1396,1396,1396,1396,1396,1396,1396,1396,1396,1396
ลำปาง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ศรีสะเกษ,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุตรดิตถ์,234,234,234,234,234,234,234,234,234,234,...,234,234,234,234,234,234,234,234,234,234

In [ ]:
ov_2_new = ov_2.iloc[:,:1]
ov_2_new

           user
province
กาฬสินธุ์   541
ขอนแก่น     164
มหาสารคาม  1183
ร้อยเอ็ด   1396
ลำปาง         1
ศรีสะเกษ      1
อุตรดิตถ์   234

In [ ]:
ov_2_noindex = ov_2_new.reset_index()
ov_2_noindex

    province  user
0  กาฬสินธุ์   541
1    ขอนแก่น   164
2  มหาสารคาม  1183
3   ร้อยเอ็ด  1396
4      ลำปาง     1
5   ศรีสะเกษ     1
6  อุตรดิตถ์   234

In [ ]:
o2 = {'user':'จำนวนที่พบโรค ระดับ 2'}
# call rename () method
ov_2_noindex.rename(columns=o2,
          inplace=True)
ov_2_noindex

    province  จำนวนที่พบโรค ระดับ 2
0  กาฬสินธุ์                    541
1    ขอนแก่น                    164
2  มหาสารคาม                   1183
3   ร้อยเอ็ด                   1396
4      ลำปาง                      1
5   ศรีสะเกษ                      1
6  อุตรดิตถ์                    234

### ระดับ 3

In [ ]:
ov_3 = merged_drop[merged_drop['ov']== 3]
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,นาง,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,นาย,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
5,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,"iPhone14,5",06288,10:28:02,ปกติ (เหลืองใส),3,00001,นางสาว,...,3.0,ท่าปลา,7.0,นางพญา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
16,16085,49A9B05F-9B2F-49B9-99D7-CC3A60836EE1,2022-03-30,"iPhone13,2",06299,13:11:51,ปกติ (เหลืองใส),3,00001,นาง,...,5.0,ฟากท่า,2.0,สองคอน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
18,60847,52421C45-3625-4E62-B681-158CF7049DC7,2022-03-28,"iPhone14,3",06298,10:23:45,ปกติ (เหลืองใส),3,00001,นาย,...,4.0,น้ำปาด,6.0,ห้วยมุ่น,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37324,12576,gitvjybizk.png,2022-03-09,Vivo 1938,11057,15:51:03,ปกติ (เหลืองใส),3,09016,นาย,...,8.0,พยัคฆภูมิพิสัย,1.0,ปะหลาน,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,มค,MKM
37329,12576,tanpttgcgs.png,2022-03-09,Vivo 1938,11057,15:52:57,ปกติ (เหลืองใส),3,09018,นาง,...,8.0,พยัคฆภูมิพิสัย,1.0,ปะหลาน,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,มค,MKM
37346,89681,EF02B947-21AE-4F27-8B48-3B48967B3D7D,2022-03-18,"iPhone13,4",11070,17:40:29,ปกติ (เหลืองใส),3,09031,นาย,...,11.0,สุวรรณภูมิ,1.0,สระคู,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37363,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09:49:16,ปกติ (เหลืองใส),3,10965,นางสาว,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37381,10982,D713CB5A-AE59-4FA7-9387-39C0B766120A,2022-03-21,"iPhone13,4",11069,10:30:00,ปกติ (เหลืองใส),3,10982,น.ส.,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
ov_3 = ov_3.groupby('province').count()
ov_3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาฬสินธุ์,522,522,522,522,522,522,522,522,522,522,...,522,522,522,522,522,522,522,522,522,522
ขอนแก่น,125,125,125,125,125,125,125,125,125,125,...,125,125,125,125,125,125,125,125,125,125
นครพนม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
มหาสารคาม,884,884,884,884,884,884,884,884,884,884,...,884,884,884,884,884,884,884,884,884,884
ร้อยเอ็ด,1163,1163,1163,1163,1163,1163,1163,1163,1163,1163,...,1163,1163,1163,1163,1163,1163,1163,1163,1163,1163
อุตรดิตถ์,258,258,258,258,258,258,258,258,258,258,...,258,258,258,258,258,258,258,258,258,258

In [ ]:
ov_3_new = ov_3.iloc[:,:1]
ov_3_new

           user
province
กาฬสินธุ์   522
ขอนแก่น     125
นครพนม        1
มหาสารคาม   884
ร้อยเอ็ด   1163
อุตรดิตถ์   258

In [ ]:
ov_3_noindex = ov_3_new.reset_index()
ov_3_noindex

    province  user
0  กาฬสินธุ์   522
1    ขอนแก่น   125
2     นครพนม     1
3  มหาสารคาม   884
4   ร้อยเอ็ด  1163
5  อุตรดิตถ์   258

In [ ]:
o3 = {'user':'จำนวนที่พบโรค ระดับ 3'}
# call rename () method
ov_3_noindex.rename(columns=o3,
          inplace=True)
ov_3_noindex

    province  จำนวนที่พบโรค ระดับ 3
0  กาฬสินธุ์                    522
1    ขอนแก่น                    125
2     นครพนม                      1
3  มหาสารคาม                    884
4   ร้อยเอ็ด                   1163
5  อุตรดิตถ์                    258

### ระดับ 4

In [ ]:
ov_4 = merged_drop[merged_drop['ov']== 4]
ov_4

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,title,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,นางสาว,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,นาง,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,กส,KSN
7,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,"iPhone8,1",06261,15:40:17,ปกติ (เหลืองใส),4,00001,นาง,...,1.0,เมืองอุตรดิตถ์,9.0,งิ้วงาม,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
10,89195,27A826ED-D57D-4386-8A3C-9CFD13297B8B,2022-03-30,"iPhone9,3",06267,10:08:32,ปกติ (เหลืองใส),4,00001,นาง,...,1.0,เมืองอุตรดิตถ์,13.0,วังดิน,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,อต,UTT
11,59476,2AAA9DE2-24E6-4F41-B02E-0CB610C906C6,2022-03-25,"iPhone9,4",05000,11:14:25,สีฟ้า หรือน้ำเงิน,4,00001,นาง,...,6.0,บรบือ,20.0,ดอนงัว,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,มค,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37302,12576,mmttpolskc.png,2022-03-09,Vivo 1938,11057,10:00:22,ขุ่น,4,09005,นาง,...,8.0,พยัคฆภูมิพิสัย,1.0,ปะหลาน,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,มค,MKM
37359,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10:08:34,ปกติ (เหลืองใส),4,10961,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37374,26462,5CB6F5EB-324D-448C-84AD-C9D48B23684E,2022-03-22,"iPhone13,4",11069,14:04:13,ปกติ (เหลืองใส),4,10975,นาง,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37385,26462,iwwwnyrmtz.png,2022-03-22,OPPO CPH1819,11069,09:32:10,ปกติ (เหลืองใส),4,10986,นาย,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET
37400,26462,rryhjijyje.png,2022-03-21,Vivo V2050,11069,11:52:34,มีเม็ดเลือดแดง,4,11002,น.ส.,...,10.0,เสลภูมิ,17.0,ขวัญเมือง,7.0,โรงพยาบาลชุมชน,22.0,2.2 ทุติยภูมิระดับกลาง,รอ,RET

In [ ]:
ov_4 = ov_4.groupby('province').count()
ov_4_new = ov_4.iloc[:,:1]
ov_4_noindex = ov_4_new.reset_index()
ov_4_noindex

    province  user
0  กาฬสินธุ์   645
1    ขอนแก่น    87
2  มหาสารคาม   765
3   ร้อยเอ็ด  1017
4  อุตรดิตถ์   316

In [ ]:
o4 = {'user':'จำนวนที่พบโรค ระดับ 4'}
# call rename () method
ov_4_noindex.rename(columns=o4,
          inplace=True)
ov_4_noindex

    province  จำนวนที่พบโรค ระดับ 4
0  กาฬสินธุ์                    645
1    ขอนแก่น                     87
2  มหาสารคาม                    765
3   ร้อยเอ็ด                   1017
4  อุตรดิตถ์                    316

### รวมตาราง 4 ตารางเข้าด้วยกัน

In [ ]:
ov_merge = ov_0_noindex.merge(ov_1_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_2_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_3_noindex,how='left',left_on='province',right_on='province') 
ov_merge = ov_merge.merge(ov_4_noindex,how='left',left_on='province',right_on='province') 
ov_merge

,province,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,5190,916.0,541.0,522.0,645.0
1,ขอนแก่น,3315,551.0,164.0,125.0,87.0
2,นครพนม,2,2.0,NaN,1.0,NaN
3,นครราชสีมา,1,NaN,NaN,NaN,NaN
4,มหาสารคาม,3960,2104.0,1183.0,884.0,765.0
5,มุกดาหาร,2,NaN,NaN,NaN,NaN
6,ร้อยเอ็ด,7029,3051.0,1396.0,1163.0,1017.0
7,ศรีสะเกษ,1,1.0,1.0,NaN,NaN
8,สกลนคร,3,3.0,NaN,NaN,NaN
9,อุตรดิตถ์,1517,453.0,234.0,258.0,316.0
10,อุบลราชธานี,1,NaN,NaN,NaN,NaN

In [ ]:
# เเทนค่า NaN ด้วย 0
ov_merge['จำนวนที่พบโรค ระดับ 1'] = ov_merge['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 2'] = ov_merge['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 3'] = ov_merge['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
ov_merge['จำนวนที่พบโรค ระดับ 4'] = ov_merge['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [ ]:
ov_merge.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                 False
จำนวนที่พบโรค ระดับ 0    False
จำนวนที่พบโรค ระดับ 1    False
จำนวนที่พบโรค ระดับ 2    False
จำนวนที่พบโรค ระดับ 3    False
จำนวนที่พบโรค ระดับ 4    False
dtype: bool

# Dashboard 1

รวมตารางระหว่างจำนวนการตรวจในแต่ละพื้นที่ กับ จำนวนที่พบโรค

In [ ]:
data1 = P_noindex.merge(ov_merge,how='left',left_on='province',right_on='province') 
data1

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,7814,5190.0,916.0,541.0,522.0,645.0
1,ขอนแก่น,4242,3315.0,551.0,164.0,125.0,87.0
2,นครพนม,5,2.0,2.0,0.0,1.0,0.0
3,นครราชสีมา,1,1.0,0.0,0.0,0.0,0.0
4,มหาสารคาม,8896,3960.0,2104.0,1183.0,884.0,765.0
5,มุกดาหาร,2,2.0,0.0,0.0,0.0,0.0
6,ร้อยเอ็ด,13656,7029.0,3051.0,1396.0,1163.0,1017.0
7,ลำปาง,1,NaN,NaN,NaN,NaN,NaN
8,ศรีสะเกษ,3,1.0,1.0,1.0,0.0,0.0
9,สกลนคร,6,3.0,3.0,0.0,0.0,0.0
10,อุดรธานี,1,NaN,NaN,NaN,NaN,NaN
11,อุตรดิตถ์,2778,1517.0,453.0,234.0,258.0,316.0
12,อุบลราชธานี,1,1.0,0.0,0.0,0.0,0.0

In [ ]:
# เเทนค่า NaN ด้วย 0
data1['จำนวนที่พบโรค ระดับ 0'] = data1['จำนวนที่พบโรค ระดับ 0'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 1'] = data1['จำนวนที่พบโรค ระดับ 1'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 2'] = data1['จำนวนที่พบโรค ระดับ 2'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 3'] = data1['จำนวนที่พบโรค ระดับ 3'].fillna(0) 
data1['จำนวนที่พบโรค ระดับ 4'] = data1['จำนวนที่พบโรค ระดับ 4'].fillna(0)

In [ ]:
data1.isnull().any()
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่
#.any() เพื่อดูรายละเอียดการเปรียบเทียบข้อมูลให้ออกมาในรูป true false

province                      False
จำนวนการตรวจในแต่ละพื้นที่    False
จำนวนที่พบโรค ระดับ 0         False
จำนวนที่พบโรค ระดับ 1         False
จำนวนที่พบโรค ระดับ 2         False
จำนวนที่พบโรค ระดับ 3         False
จำนวนที่พบโรค ระดับ 4         False
dtype: bool

In [ ]:
data1 # แสดงข้อมูลหลังเเทน NaN ด้วย 0

,province,จำนวนการตรวจในแต่ละพื้นที่,จำนวนที่พบโรค ระดับ 0,จำนวนที่พบโรค ระดับ 1,จำนวนที่พบโรค ระดับ 2,จำนวนที่พบโรค ระดับ 3,จำนวนที่พบโรค ระดับ 4
0,กาฬสินธุ์,7814,5190.0,916.0,541.0,522.0,645.0
1,ขอนแก่น,4242,3315.0,551.0,164.0,125.0,87.0
2,นครพนม,5,2.0,2.0,0.0,1.0,0.0
3,นครราชสีมา,1,1.0,0.0,0.0,0.0,0.0
4,มหาสารคาม,8896,3960.0,2104.0,1183.0,884.0,765.0
5,มุกดาหาร,2,2.0,0.0,0.0,0.0,0.0
6,ร้อยเอ็ด,13656,7029.0,3051.0,1396.0,1163.0,1017.0
7,ลำปาง,1,0.0,0.0,0.0,0.0,0.0
8,ศรีสะเกษ,3,1.0,1.0,1.0,0.0,0.0
9,สกลนคร,6,3.0,3.0,0.0,0.0,0.0
10,อุดรธานี,1,0.0,0.0,0.0,0.0,0.0
11,อุตรดิตถ์,2778,1517.0,453.0,234.0,258.0,316.0
12,อุบลราชธานี,1,1.0,0.0,0.0,0.0,0.0

In [ ]:
data1.to_csv(os.path.join(path,'data1.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

# Dashboard 2 

ข้อมูลที่เหลือ 

* ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
* อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

In [ ]:
merged_use = merged_drop[['user','date','phone','site','time','urine','ov','PartitionKey','hcode','name','province','title','age']] 
merged_use

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province,title,age
0,12015,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์,นางสาว,47
1,91811,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์,นาง,41
2,95821,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์,นาง,55
3,13361,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,มหาสารคาม,นาย,66
4,28241,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,อุตรดิตถ์,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37401,26462,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นางสาว,33
37402,26462,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นาย,28
37403,26462,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นาง,72
37404,26462,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นาง,48
37405,26462,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นาย,36

In [ ]:
merged_use1 = pd.DataFrame(merged_use)
merged_use1['Day'] = pd.to_datetime(merged_use['date'], format = "%Y/%m/%d")
merged_use1['Month'] = merged_use['date'].dt.month
merged_use1['Year'] = merged_use['date'].dt.year
merged_use1

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province,title,age,Day,Month,Year
0,12015,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์,นางสาว,47,2022-03-30,3,2022
1,91811,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์,นาง,41,2022-03-30,3,2022
2,95821,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์,นาง,55,2022-03-30,3,2022
3,13361,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,มหาสารคาม,นาย,66,2022-03-29,3,2022
4,28241,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,อุตรดิตถ์,นางสาว,50,2022-03-31,3,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37401,26462,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นางสาว,33,2022-03-22,3,2022
37402,26462,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นาย,28,2022-03-21,3,2022
37403,26462,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นาง,72,2022-03-22,3,2022
37404,26462,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นาง,48,2022-03-21,3,2022
37405,26462,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,นาย,36,2022-03-21,3,2022

In [ ]:
merged_use['Month'].unique()

array([3, 4, 2])

In [ ]:
merged_use['title'].unique()

array(['นางสาว', 'นาง', 'นาย', 'น.ส.', 'นส.', 'น.ส', 'นาย ', 'นส', 'ด.ญ.',
       'นาง ', 'ร.ต.ต.', ' นาง', '  นาง', 'ว่าที่ ร.ต.', 'นางl',
       'ว่าที่ร้อยตรี', 'นส. ', 'พจอ.', 'น.ส ', 'พระ', 'Mrs', 'นา่ง',
       'นาย  ', 'น', 'ร.ต.', 'พระครุ', 'นาบ', 'นางสาว ', 'ชาย', 'ด.ต.',
       'data is not completed', 'น่าย', 'เด็กชาย',
       'นางสาว                   ', 'ว่าที่ ร.ท.', 'นาน', 'นาว',
       ' นางสาว', 'ร.ต.ท.', 'นาง.', 'ด.ช.', 'เด็กหญิง', 'ืนาง', 'นาวสาว',
       ' นาย', 'ส.อ.', 'พระปลัด', 'พลฯ', 'ร.ต.อ.'], dtype=object)

In [ ]:
merged_use1['title'].replace({'นางสาว':'หญิง','นาง':'หญิง','นาย':'ชาย','น.ส.':'หญิง','นาย ':'ชาย','นส':'หญิง','ด.ญ.':'หญิง',
                                           'นาง ':'หญิง','ร.ต.ต.':'ไม่ปรากฏข้อมูล',' นาง':'หญิง',
                              '  นาง':'หญิง','ว่าที่ ร.ต.':'ไม่ปรากฏข้อมูล','นางl':'หญิง','ว่าที่ร้อยตรี':'ไม่ปรากฏข้อมูล',
                              'นส. ':'หญิง','พจอ.':'ไม่ปรากฏข้อมูล',
                              'น.ส ':'หญิง','พระ':'ชาย','Mrs':'หญิง','นา่ง':'หญิง',
                                           'นาย  ':'ชาย','น':'ไม่ปรากฏข้อมูล','ร.ต.':'ไม่ปรากฏข้อมูล','พระครุ':'ชาย','นาบ':'ชาย','นางสาว ':'หญิง','ชาย':'ชาย','ด.ต.':'ไม่ปรากฏข้อมูล',
                              'data is not completed':'ไม่ปรากฏข้อมูล','น่าย':'ชาย','เด็กชาย':'ชาย','นางสาว                   ':'หญิง','ว่าที่ ร.ท.':'ไม่ปรากฏข้อมูล','นาน':'ชาย','นาว':'หญิง',
                             ' นางสาว':'หญิง','ร.ต.ท.':'ไม่ปรากฏข้อมูล','นาง.':'หญิง','ด.ช.':'ชาย','เด็กหญิง':'หญิง', 'ืนาง':'หญิง','นาวสาว':'หญิง',
                               ' นาย':'ชาย','ส.อ.':'ไม่ปรากฏข้อมูล','พระปลัด':'ชาย','พลฯ':'ชาย','ร.ต.อ.':'ไม่ปรากฏข้อมูล','นส.':'หญิง','น.ส':'หญิง'}, inplace=True ) 
merged_use1['title'].unique()

array(['หญิง', 'ชาย', 'ไม่ปรากฏข้อมูล'], dtype=object)

In [ ]:
merged_use1

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province,title,age,Day,Month,Year
0,12015,2022-03-30,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),4,00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์,หญิง,47,2022-03-30,3,2022
1,91811,2022-03-30,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),4,00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์,หญิง,41,2022-03-30,3,2022
2,95821,2022-03-30,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),3,00001,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์,หญิง,55,2022-03-30,3,2022
3,13361,2022-03-29,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),3,00001,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,มหาสารคาม,ชาย,66,2022-03-29,3,2022
4,28241,2022-03-31,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),0,00001,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,อุตรดิตถ์,หญิง,50,2022-03-31,3,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37401,26462,2022-03-22,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),1,11003,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,หญิง,33,2022-03-22,3,2022
37402,26462,2022-03-21,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),2,11005,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,ชาย,28,2022-03-21,3,2022
37403,26462,2022-03-22,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),2,11006,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,หญิง,72,2022-03-22,3,2022
37404,26462,2022-03-21,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),0,11007,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,หญิง,48,2022-03-21,3,2022
37405,26462,2022-03-21,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",1,11008,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,ชาย,36,2022-03-21,3,2022

In [ ]:
merged_use1.to_csv(os.path.join(path,'merged_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

ลิงค์ Dashboard

Link: https://datastudio.google.com/reporting/a76882b0-d2de-409a-a7b9-b9d4b4a6061a